@media only screen and (max-width: 767px) {
  .about-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .about-panel:after {
    content: '';
    background-color: #2c3338;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .about-panel {
    margin: 5rem 0;
  }
  #aboutImage {
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .about-heading {
    font-family: "Amatic SC", cursive;
    font-size: 4.2rem;
    color: #e4cd8a;
    text-align: center;
  }
  .about-gallery {
    width: 100%;
    max-height: 100%;
    margin-top: 5%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 5rem;
  }
  .about-gallery .photo {
    margin: 10px 15px;
    min-width: 100px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #4e4945;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo > img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 100px;
    max-height: 200px;
    flex-basis: 100%;
  }
  .about-gallery .photo > figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #4e4945;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo:nth-child(even) {
    -webkit-transform: rotate(-2deg) scale(0.9);
    transform: rotate(-2deg) scale(0.9);
  }
  .about-gallery .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #000000;
    background: #e4ddce;
  }
  .about-gallery .photo:hover > figcaption {
    color: #000000;
  }
  .about-letter {
    margin-top: 4rem;
    width: 100%;
  }
  .letter {
    background: #e4ddce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    position: relative;
    width: 80%;
  }
  .letter:before, .letter:after {
    content: '';
    height: 98%;
    position: absolute;
    width: 85%;
    z-index: -1;
  }
  .letter:before {
    background: #d2c6ad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -1;
    top: 4px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  .letter:after {
    background: #c0af8c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -5px;
    top: 1px;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  .letter > p, .letter > ul > li {
    font-family: "Courgette", cursive;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;
  }
  .letter > ul > li {
    list-style-type: none;
    line-height: 2.4rem;
  }
  .photo-portfolio {
    position: block;
    width: 50%;
  }
  .photo-portfolio .photo {
    margin: 10px 20px;
    min-width: 150px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .photo-portfolio .photo:after {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .photo-portfolio .photo > img {
    width: 200px;
    height: auto;
    float: right;
  }
  .photo-portfolio .photo figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    text-align: center;
    margi-top: 10px;
    color: #4e4945;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .photo-portfolio .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .photo-portfolio .photo:hover > figcaption {
    color: #000000;
  }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
  #aboutImage {
    width: 100%;
    height: auto;
  }
  .about-panel:after {
    content: '';
    display: none;
  }
  .letter {
    padding: 3rem;
  }
  .letter:before, .letter:after {
    content: '';
    height: 98%;
    position: absolute;
    width: 85%;
    z-index: -1;
  }
  .letter:before {
    background: #d2c6ad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -1;
    top: 4px;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  .letter:after {
    background: #c0af8c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -5px;
    top: 1px;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .about-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .about-panel {
    margin: 12rem 0;
  }
  #aboutImage {
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .about-heading {
    font-family: "Amatic SC", cursive;
    font-size: 4.2rem;
    color: #e4cd8a;
    text-align: center;
  }
  .about-gallery {
    width: 100%;
    max-height: 100%;
    margin-top: 5rem;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
  }
  .about-gallery .photo {
    margin: 10px 15px;
    min-width: 100px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #4e4945;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo > img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 100px;
    max-height: 200px;
    flex-basis: 100%;
  }
  .about-gallery .photo > figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #4e4945;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo:nth-child(even) {
    -webkit-transform: rotate(-2deg) scale(0.9);
    transform: rotate(-2deg) scale(0.9);
  }
  .about-gallery .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #e4ddce;
    border: 1px solid #000000;
  }
  .about-gallery .photo:hover > figcaption {
    color: #000000;
  }
  .about-letter {
    margin-top: 4rem;
    width: 100%;
  }
  .letter {
    background: #e4ddce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    width: 70%;
    height: 100%;
    padding: 5rem;
    position: relative;
  }
  .letter:before, .letter:after {
    content: '';
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .letter:before {
    background: #d2c6ad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -1;
    top: 4px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  .letter:after {
    background: #c0af8c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -5px;
    top: 1px;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .letter > p, .letter > ul > li {
    font-family: "Courgette", cursive;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;
  }
  .letter > ul > li {
    list-style-type: none;
    line-height: 2.4rem;
  }
  .photo-portfolio {
    position: block;
    width: 50%;
  }
  .photo-portfolio .photo {
    min-width: 150px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .photo-portfolio .photo:after {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .photo-portfolio .photo > img {
    width: 90%;
    height: auto;
    float: right;
  }
  .photo-portfolio .photo figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    text-align: center;
    margi-top: 10px;
    color: #4e4945;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .photo-portfolio .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .photo-portfolio .photo:hover > figcaption {
    color: #000000;
  }
}

@media only screen and (min-width: 1280px) {
  .about-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-around;
  }
  #aboutImage {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .about-heading {
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    color: #e4cd8a;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 25%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  .about-gallery {
    width: 50%;
    max-height: 100%;
    margin-top: 16rem;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
  }
  .about-gallery .photo {
    margin: 10px 15px;
    min-width: 100px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4e4945;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo > img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 100px;
    max-height: 200px;
    flex-basis: 100%;
  }
  .about-gallery .photo > figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #4e4945;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-gallery .photo:nth-child(even) {
    -webkit-transform: rotate(-2deg) scale(0.9);
    transform: rotate(-2deg) scale(0.9);
  }
  .about-gallery .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #e4ddce;
    border: 1px solid #000000;
  }
  .about-gallery .photo:hover > figcaption {
    color: #000000;
  }
  .about-letter {
    width: 50%;
  }
  .letter {
    background: #e4ddce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 12rem auto 0 auto;
    width: 90%;
    min-height: 300px;
    padding: 4rem;
    position: relative;
  }
  .letter:before, .letter:after {
    content: '';
    height: 98%;
    position: absolute;
    width: 97%;
    z-index: -1;
  }
  .letter:before {
    background: #d2c6ad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5;
    top: 4px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  .letter:after {
    background: #c0af8c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  .letter > p, .letter > ul > li {
    font-family: "Courgette", cursive;
    font-size: 1.6rem;
    color: #000000;
  }
  .letter > ul > li {
    list-style-type: none;
    line-height: 2.2rem;
  }
  .photo-portfolio {
    position: absolute;
    bottom: -7rem;
    right: 0px;
    width: 200px;
  }
  .photo-portfolio .photo {
    margin: 10px 20px;
    min-width: 150px;
    min-height: 170px;
    background: #bfb6ad;
    padding: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .photo-portfolio .photo:after {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .photo-portfolio .photo > img {
    width: auto;
    height: 130px;
    float: right;
  }
  .photo-portfolio .photo figcaption {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margi-top: 10px;
    color: #4e4945;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .photo-portfolio .photo:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .photo-portfolio .photo:hover > figcaption {
    color: #000000;
  }
}

@media only screen and (max-width: 767px) {
  .blog-panel:before {
    content: '';
    background-color: #2c3338;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .blog-panel:after {
    content: '';
    background-color: #2c3338;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .blog-panel {
    margin: 5rem 0;
  }
  #blogImage {
    background-color: #2c3338;
    padding: 5rem 0 5rem 0;
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .blog-wrapper {
    width: 100%;
    height: 100%;
    margin: 7rem auto 7rem auto;
    padding: 20px;
    border-radius: 4px;
  }
  .blog-heading {
    font-family: "Playfair Display", serif;
    font-size: 3.6rem;
    text-align: center;
    margin: 10rem auto 0 auto;
    color: #8eadB1;
  }
  .blog-title {
    font-family: "Playfair Display", serif;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3rem;
    min-height: 4rem;
    color: #2c3338;
    margin: 60px 0 0 0;
    padding: 1rem 3rem;
    background: #e4cd8a;
    border-radius: 2rem 2rem 0 0;
  }
  .blog-segment {
    font-family: "Roboto Slab", serif;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #2c3338;
    top: 0;
    bottom: 0;
    background: #e4ddce;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    margin: 0 -1px;
    padding: 3rem 3rem 5rem 3rem;
    width: calc(100% + 2px);
    max-width: calc(100% + 2px);
    box-shadow: none;
    border: 1px solid #D4D4D5;
  }
  .blog-paragraph {
    margin-bottom: 3rem;
  }
  .blog-button {
    font-family: "Sansita", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-button:hover {
    background-color: #445f62;
    color: #e4cd8a;
  }
  .blog-pagination-wrapper {
    margin: 0 auto 10rem auto;
  }
  .blog-pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog-number {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 1.5rem;
    color: #e4cd8a;
    background: #2c3338;
    padding: 2rem;
    border-radius: 4px;
  }
  .blog-number:hover {
    color: #e4ddce;
    background: #597c80;
    padding: 2rem;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-number.active {
    color: #e4cd8a;
    background: #597c80;
  }
  .blog-number.active:hover {
    color: #e4cd8a;
    background: #597c80;
  }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
  #blogImage {
    width: 100vw;
    height: auto;
    background-color: #2c3338;
  }
  .blog-panel:after {
    content: '';
    display: none;
  }
  .blog-wrapper {
    margin: 8rem auto 1rem auto;
  }
  .blog-pagination-wrapper {
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .blog-panel {
    margin: 5rem 0;
  }
  #blogImage {
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .blog-wrapper {
    width: 90%;
    height: 90%;
    margin: 7rem auto 7rem auto;
    padding: 20px;
    border-radius: 4px;
  }
  .blog-heading {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    text-align: center;
    margin: 14rem auto 0 auto;
    color: #8eadB1;
  }
  .blog-title {
    font-family: "Playfair Display", serif;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3rem;
    min-height: 4rem;
    color: #2c3338;
    margin: 60px 0 0 0;
    padding: 1rem 3rem;
    background: #e4cd8a;
    border-radius: 2rem 2rem 0 0;
  }
  .blog-segment {
    font-family: "Roboto Slab", serif;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #2c3338;
    top: 0;
    bottom: 0;
    background: #e4ddce;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    margin: 0 -1px;
    padding: 3rem 3rem 5rem 3rem;
    width: calc(100% + 2px);
    max-width: calc(100% + 2px);
    box-shadow: none;
    border: 1px solid #D4D4D5;
  }
  .blog-paragraph {
    margin-bottom: 3rem;
  }
  .blog-button {
    font-family: "Sansita", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-button:hover {
    background-color: #445f62;
    color: #e4cd8a;
  }
  .blog-pagination-wrapper {
    margin: 0 auto 10rem auto;
  }
  .blog-pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog-number {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 1.5rem;
    color: #e4cd8a;
    background: #2c3338;
    padding: 2rem;
    border-radius: 4px;
  }
  .blog-number:hover {
    color: #e4ddce;
    background: #597c80;
    padding: 2rem;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-number.active {
    color: #e4cd8a;
    background: #597c80;
  }
  .blog-number.active:hover {
    color: #e4cd8a;
    background: #597c80;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
  #blogImage {
    background-color: #2c3338;
    padding: 0;
    height: 100%;
    width: auto;
  }
}

@media only screen and (min-width: 1280px) {
  #blogImage {
    background-color: #2c3338;
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .blog-wrapper {
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
  }
  .blog-heading {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 4rem;
    color: #8eadB1;
  }
  .blog-title {
    font-family: "Playfair Display", serif;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 6rem;
    height: 6rem;
    color: #2c3338;
    margin: 60px 0 0 0;
    padding: 0 0 0 3rem;
    background: #e4cd8a;
    border-radius: 2rem 2rem 0 0;
  }
  .blog-segment {
    font-family: "Roboto Slab", serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #2c3338;
    top: 0;
    bottom: 0;
    background: #e4ddce;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    margin: 0 -1px;
    padding: 3rem 3rem 5rem 3rem;
    width: calc(100% + 2px);
    max-width: calc(100% + 2px);
    box-shadow: none;
    border: 1px solid #D4D4D5;
  }
  .blog-paragraph {
    margin-bottom: 50px;
  }
  .blog-button {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 30%;
    margin-top: 50px;
    margin-right: 70%;
    padding: 10px 30px;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-button:hover {
    background-color: #445f62;
    color: #e4cd8a;
  }
  .blog-pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 30px auto;
  }
  .blog-number {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0 5px;
    color: #e4cd8a;
    background: #2c3338;
    padding: 15px;
    border-radius: 4px;
  }
  .blog-number:hover {
    color: #e4ddce;
    background: #597c80;
    padding: 15px;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .blog-number.active {
    color: #e4cd8a;
    background: #597c80;
  }
  .blog-number.active:hover {
    color: #e4cd8a;
    background: #597c80;
  }
}

#bookImage {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  display: block;
}

.book-heading {
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  color: #e4cd8a;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px;
}

.book-wrapper {
  max-width: 1000px;
  min-height: 70vh;
  background-color: rgba(10, 10, 10, 0.7);
  margin: 5% auto 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
}

#canvasImage {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  display: block;
}

.canvas-heading {
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  color: #e4cd8a;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  #contact-panel:before {
    content: '';
    background-color: #2c3338;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  #contact-panel:after {
    content: '';
    background-color: #2c3338;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 100;
    display: block;
  }
  #contact-panel {
    margin: 5rem 0;
  }
  #contactImage {
    padding: 5rem 0 5rem 0;
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .contact-wrapper {
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(10, 10, 10, 0.7);
    margin: 7rem auto 7rem auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .contact-title {
    margin-top: 30px;
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    color: #8eadB1;
  }
  .contact-input-container {
    display: block;
  }
  .contact-input-container > .contact-input {
    max-width: 100%;
  }
  .contact-label-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 50px;
  }
  .contact-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2.4rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  .contact-input {
    width: 100%;
    font-size: 2.4rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px 0px 0px;
    border-radius: 4px;
    position: relative;
  }
  .ui.form.contact-input > textarea#description {
    width: 100%;
    resize: none;
  }
  .ui.input input, .ui.form textarea {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-family: "Sansita", sans-serif;
    font-size: 1.8rem;
  }
  .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  .contact-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
  }
  .contact-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 2.4rem;
  }
  #form-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .icon-error {
    color: #dcddde;
  }
  .contact-button {
    font-family: "Sansita", sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
    padding: 1.5rem;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .contact-button:hover {
    background-color: #445f62;
  }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
  #contactImage {
    width: 100vw;
    height: auto;
  }
  #contact-panel:after {
    content: '';
    display: none;
  }
  .contact-wrapper {
    margin: 8rem auto 1rem auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #contact-panel:before {
    content: '';
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  #contact-panel {
    width: 100%;
    height: 100%;
  }
  #contactImage {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .contact-wrapper {
    width: 80vw;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    margin: 12rem auto 6rem auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .contact-title {
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
    color: #8eadB1;
  }
  .contact-input-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }
  .contact-input-container > .contact-input {
    width: 100%;
  }
  .contact-label-container {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }
  .contact-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  .contact-input {
    width: 100%;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 4px;
  }
  .ui.form.contact-input > textarea#description {
    width: 100%;
    resize: none;
  }
  .ui.input input, .ui.form textarea {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-family: "Sansita", sans-serif;
    font-size: 1.6rem;
  }
  .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  .contact-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 1.6rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
    margin: 0 20px;
  }
  .contact-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 1.4rem;
  }
  #form-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .icon-error {
    color: #dcddde;
  }
  .contact-button {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 30%;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .contact-button:hover {
    background-color: #445f62;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
  #contactImage {
    width: auto;
    height: 100vh;
  }
  .contact-wrapper {
    margin: 12rem auto 32rem auto;
  }
}

@media only screen and (min-width: 1280px) {
  #contact-panel:before {
    content: '';
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  #contactImage {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .contact-wrapper {
    max-width: 1000px;
    min-height: 70vh;
    background-color: rgba(10, 10, 10, 0.7);
    margin: 5% auto 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .contact-title {
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    color: #8eadB1;
  }
  .contact-input-container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }
  .contact-input-container > .contact-input {
    max-width: 80%;
    margin-right: 20px;
  }
  .contact-label-container {
    marign: 20px 20px 0 20px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
  }
  .contact-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  #textarea-label {
    margin-top: 30px;
  }
  .contact-input {
    width: 100%;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 4px;
  }
  .ui.form.contact-input > textarea#description {
    margin: 5px 20px 20px 20px;
    width: 96%;
    resize: none;
  }
  .ui.input input, .ui.form textarea {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-family: "Sansita", sans-serif;
    font-size: 1.6rem;
  }
  .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  .contact-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 1.6rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
    margin: 0 20px;
  }
  .contact-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 1.4rem;
  }
  #form-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .icon-error {
    color: #dcddde;
  }
  .contact-button {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 30%;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    text-align: center;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .contact-button:hover {
    background-color: #445f62;
  }
}

@media only screen and (max-width: 767px) {
  #login-panel:before {
    content: '';
    background-color: #2c3338;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  #login-panel:after {
    content: '';
    background-color: #2c3338;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 100;
    display: block;
  }
  #loginImage {
    position: fixed;
    width: auto;
    padding: 5rem 0 5rem 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .login-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(5, 5, 5, 0.7);
    margin: 7rem auto 7rem auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .login-title {
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    padding-bottom: 30px;
    color: #8eadB1;
  }
  .login-label-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 50px;
  }
  .login-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2.4rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  .login-input {
    width: 100%;
    font-size: 2.4rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px;
    border: none;
    border-radius: 4px;
  }
  #login-control > .ui.input input {
    font-family: "Sansita", sans-serif;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 2.4rem;
  }
  .ui.input input.login-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  #login-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .login-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
    margin: 20px;
  }
  .login-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 2.4rem;
  }
  .login-button {
    font-family: "Sansita", sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    width: 100%;
    padding: 1.5rem;
    margin: 20px 0px;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .login-button:hover {
    background-color: #445f62;
  }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
  #loginImage {
    width: 100vw;
    height: auto;
  }
  #login-panel:after {
    content: '';
    display: none;
  }
  .login-wrapper {
    margin: 8rem auto 1rem auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #login-panel:before {
    content: '';
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  #login-panel {
    width: 100%;
    height: 100%;
  }
  #loginImage {
    position: fixed;
    width: auto;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .login-wrapper {
    width: 540px;
    min-height: 540px;
    background-color: rgba(10, 10, 10, 0.7);
    margin: 12rem auto 6rem auto;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .login-title {
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
    color: #8eadB1;
  }
  .login-input-container {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }
  .login-input-container > .login-input {
    width: 100%;
  }
  .login-label-container {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }
  .login-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  .login-input {
    width: 100%;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px;
    border: none;
    border-radius: 4px;
  }
  .ui.input input {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-family: "Sansita", sans-serif;
    font-size: 1.6rem;
  }
  .ui.input input.login-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  .login-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 1.6rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
    margin: 0 20px;
  }
  .login-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 1.4rem;
  }
  #form-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .icon-error {
    color: #dcddde;
  }
  .login-button {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .login-button:hover {
    background-color: #445f62;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
  #contactImage {
    width: 100%;
    height: auto;
  }
  .contact-wrapper {
    margin: 12rem auto 32rem auto;
  }
}

@media only screen and (min-width: 1280px) {
  #loginImage {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  .login-wrapper {
    width: 540px;
    min-height: 540px;
    background-color: rgba(5, 5, 5, 0.7);
    margin: 70px auto 20px auto;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
  }
  .login-title {
    font-family: "Sansita", sans-serif;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    padding-bottom: 30px;
    color: #8eadB1;
  }
  .login-label-container {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }
  .login-label {
    font-family: "Sansita", sans-serif;
    font-font-weight: 700;
    font-size: 2rem;
    color: #e4cd8a;
    margin: 10px 20px;
  }
  .login-input {
    width: 100%;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
    margin: 20px 0px;
    border: none;
    border-radius: 4px;
  }
  #login-control > .ui.input input {
    font-family: "Sansita", sans-serif;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 1.6rem;
  }
  .ui.input input.login-input-error {
    border: 1px #f4424e solid;
    background-color: rgba(244, 66, 78, 0.1);
    color: #dcddde;
  }
  #login-control > i.icon {
    tranistion: all 0.3s linear;
  }
  .login-list-error {
    font-family: "Roboto Slab", serif;
    font-size: 1.4rem;
    background-color: rgba(244, 66, 78, 0.1);
    color: #f4424e;
    margin: 20px;
  }
  .login-list-error > li {
    list-style: none;
    padding: 5px 0;
    margin: 10px 20px;
    line-height: 1.4rem;
  }
  .login-button {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    background-color: #638a8f;
    color: #e4cd8a;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .login-button:hover {
    background-color: #445f62;
  }
}

#projectImage {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  display: block;
}

.project-heading {
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  color: #e4cd8a;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #dcddde;
  font-smoothing: antialiased;
  font-size: 1.6rem;
  background: #2c3338;
}

img, embed, object, video {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .navbar.open {
    left: 0;
    z-index: 200;
  }
  .navbar {
    display: -webkit-box;
    display: flex;
    position: fixed;
    top: 0;
    left: -800px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    background: #2c3338;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 101;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .navbar > .navlabel {
    display: -webkit-box;
    display: flex;
    background: #2c3338;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 12.5%;
    line-height: 12.5%;
    text-align: center;
    min-height: 20px;
    border-bottom: 1px solid #e4cd8a;
    z-index: 200;
  }
  .navbar > .navlabel:first-child {
    border-top: 1px solid #e4cd8a;
  }
  .navbar .navlabel:hover {
    background: #424d55;
  }
  .navbar .navtext {
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #e4cd8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 200;
  }
  .navbar .navicon {
    display: none;
  }
  .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background: #2c3338;
    cursor: pointer;
    margin: 0 auto;
    z-index: 2300;
  }
  .hamburger > .hamburger-panel {
    background-color: #e4cd8a;
    width: 3rem;
    height: .6rem;
    margin-bottom: 0.6rem;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .hamburger.open .hamburger-1 {
    -webkit-transform: translateY(1.2rem) rotate(45deg);
    transform: translateY(1.2rem) rotate(45deg);
  }
  .hamburger.open .hamburger-2 {
    opacity: 0;
  }
  .hamburger.open .hamburger-3 {
    -webkit-transform: translateY(-1.2rem) rotate(-45deg);
    transform: translateY(-1.2rem) rotate(-45deg);
  }
  .hamburger::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #2c3338;
    z-index: -100;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hamburger {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: flex;
    position: fixed;
    top: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    background: #2c3338;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 101;
    margin: 0;
    min-height: 50px;
    width: 100vw;
    border-bottom: 1px solid #e4cd8a;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .navlabel {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    min-height: 50px;
  }
  .navlabel:first-child {
    margin-left: 8%;
  }
  .navlabel:last-child {
    margin-right: 8%;
  }
  .navlabel:hover {
    background: #424d55;
  }
  .navtext {
    font-family: "Sansita", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #e4cd8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    line-height: 100%;
  }
  .navicon {
    fill: #8eadB1;
  }
}

@media only screen and (min-width: 1280px) {
  .hamburger {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: flex;
    position: fixed;
    top: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #2c3338;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 101;
    margin: 0;
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid #e4cd8a;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .navlabel {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 30px;
    margin: auto;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: 50px;
  }
  .navlabel:first-child {
    margin-left: 8%;
  }
  .navlabel:last-child {
    margin-right: 8%;
  }
  .navlabel:hover {
    background: #424d55;
  }
  .navtext {
    font-family: "Sansita", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #e4cd8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    line-height: 100%;
  }
  .navicon {
    fill: #8eadB1;
  }
}

header {
  position: relative;
  min-height: 100vh;
}

#headerImage {
  width: 100%;
  height: auto;
  z-index: -100;
  display: block;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-bold {
  font-weight: 700;
}

.welcome-blue {
  color: #8eadB1;
}

header .chevron.circle.down.icon {
  position: absolute;
  font-size: 5rem;
  color: #8eadB1;
  cursor: pointer;
  top: 90vh;
  left: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

header .chevron.circle.down.icon:hover {
  color: #e4cd8a;
  font-size: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

header .welcome-header-heading {
  font-family: "Amatic SC", cursive;
  font-size: 10rem;
  position: absolute;
  color: #e4cd8a;
  top: 18%;
  left: 10%;
}

header .welcome-header-paragraph {
  font-family: "Amatic SC", cursive;
  font-size: 4.2rem;
  color: #e4cd8a;
  position: absolute;
  line-height: 4.6rem;
  margin-top: 20px;
}

header p.welcome-header-paragraph:nth-child(3) {
  top: 350px;
  left: 10%;
}

header p.welcome-header-paragraph:nth-child(4) {
  top: 550px;
  left: 10%;
}

.welcome-newspaper {
  font-family: 'Droid Serif', serif;
  font-size: 1.4rem;
  padding-top: 60px;
  min-height: 1000px;
  text-align: center;
  background-color: #e4ddce;
  color: #000000;
  position: relative;
}

.welcome-newspaper .chevron.circle.down.icon {
  position: absolute;
  font-size: 5rem;
  color: #000000;
  cursor: pointer;
  top: 90%;
  left: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.welcome-newspaper .chevron.circle.down.icon:hover {
  color: #ae996b;
  font-size: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.welcome-newspaper .welcome-header-heading {
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  color: #e4cd8a;
  text-align: center;
}

.welcome-newspaper p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.welcome-newspaper .newspaper-huge-heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

.welcome-newspaper .newspaper-subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

.welcome-newspaper .collumns {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.welcome-newspaper .collumn {
  font-size: 1.6rem;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  margin-bottom: 3rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.welcome-newspaper .collumn + .collumn {
  border-left: 1px solid #2f2f2f;
}

.welcome-newspaper .collumn > img {
  width: 60%;
}

.welcome-newspaper .head {
  position: relative;
  text-align: center;
}

.welcome-newspaper .collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.column1, .welcome-newspaper .collumn .headline.column4 {
  font-weight: 400;
  font-style: italic;
  font-size: 3.6rem;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn1 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn5 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn1:before, .welcome-newspaper .collumn .headline.subcolumn5:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.subcolumn1:after, .welcome-newspaper .collumn .headline.subcolumn5:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.column2 {
  font-weight: 400;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn2, .welcome-newspaper .collumn .headline.subcolumn4 {
  font-weight: 400;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn2:before, .welcome-newspaper .collumn .headline.subcolumn4:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.subcolumn2:after, .welcome-newspaper .collumn .headline.subcolumn4:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.column3, .welcome-newspaper .collumn .headline.column5 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn3 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.welcome-newspaper .collumn .headline.subcolumn3:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.welcome-newspaper .collumn .headline.subcolumn3:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

@media only all and (max-width: 1200px) {
  .welcome-newspaper .collumn {
    width: 31%;
  }
}

@media only all and (max-width: 1050px) {
  .welcome-newspaper .collumn {
    width: 47%;
  }
  .welcome-newspaper .collumn:last-of-type {
    width: 100%;
    margin: 2px;
    padding-bottom: 60px;
  }
  .welcome-newspaper .chevron.circle.down.icon {
    top: 97%;
  }
}

@media only all and (max-width: 600px) {
  .welcome-newspaper .chevron.circle.down.icon {
    top: 98%;
  }
  .welcome-newspaper .collumn {
    width: 100%;
    margin: 2px;
  }
  .welcome-newspaper .collumn + .collumn {
    border-left: none;
    border-bottom: 1px solid #2f2f2f;
  }
  .welcome-newspaper .collumn:last-of-type {
    width: 100%;
    margin: 2px;
    padding-bottom: 60px;
  }
  .welcome-newspaper .newspaper-huge-heading {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
  }
}

.welcome-charts {
  padding-top: 60px;
  height: 1000px;
  background-color: #2c3338;
  color: #dcddde;
}

.welcome-charts .charts-huge-heading {
  font-family: "Droid Serif", serif;
  font-size: 3.6rem;
}

/*# sourceMappingURL=app.css.map */
