
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// fonts
$fontNav: 'Open Sans', sans-serif;
$fontText: 'Roboto Slab', serif;

// Colors
$yellow: #e4cd8a;
$black: #000000;
$white: #ffffff;
$red: #f4424e;
$background: #2c3338;
$paper: #e4ddce;
$green: #7e773f;
$grey: #4e4945;
$blue: #8eadB1;
$fontColor: #dcddde;
$tile: #bfb6ad;

// Animation
$animation: all .3s linear;

// Others
$radius: 1rem;
$wrapper: rgba(10, 10, 10, 0.7);
$shadow: 0 0 1rem rgba(0,0,0,1);