
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// personal
$sansita: 'Sansita', sans-serif;
$roboto: 'Roboto Slab', serif;
$courgette: 'Courgette', cursive;
$playfair: 'Playfair Display', serif;
$amatic: 'Amatic SC', cursive;
$droid: 'Droid Serif', serif;


// Navbar
$navbar-default-bg: #eee;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$yellow: #e4cd8a;
$black: #000000;
$white: #ffffff;
$red: #f4424e;
$background: #2c3338;
$paper: #e4ddce;
$green: #7e773f;
$blue: #8eadB1;
$fontColor: #dcddde;

// Animation
$animation: all .3s linear;