@import "variables";
@import "mixins";

@media only screen and (max-width: 767px) {
    
    .blog-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    .blog-panel:after {
        content: '';
        display: none;
    }
    
    #blogImage {
        width: 100vw;
        height: auto;
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    .blog-wrapper {
        margin: 6rem auto 1rem auto;
        width: 100%;
        height: 100%;
        padding: 2rem;
        border-radius: $radius;
    }

    .blog-heading {
        font: {
            family: $fontNav;
            size: 3rem;
            weight: 700;
        }
        text-align: center;
        width: calc(100% - 4rem);
        padding: 1rem 0;
        color: $blue;
        background-color: $wrapper;
        box-shadow: $shadow;
        border-radius: $radius;
        margin: 10rem auto 0 auto;
    }
    // =BLOG

    .blog-title {
        font: {
            family: $fontNav;
            size: 2.4rem;
            weight: 700;
        }
        text-align: center;
        line-height: 2.8rem;
        min-height: 4rem;
        color: $background;
        margin: 60px 0 0 0;
        padding: 1rem 3rem;
        background: $yellow;
        border-radius: $radius $radius 0 0;
    }

    .blog-segment {
        font: {
            family: $fontText;
            size: 2rem;
        }
        line-height: 2.4rem;
        color: $background;
        top: 0;
        bottom: 0;
        background: $paper;
        border-radius: 0 0 $radius $radius;
        position: relative;
        margin: 0 -1px;
        padding: 3rem 3rem 5rem 3rem;
        width: calc(100% + 2px);
        max-width: calc(100% + 2px);
        box-shadow: none;
        border: 1px solid #D4D4D5;
    }

    .blog-paragraph {
        margin-bottom: 3rem;
    }

    .blog-button {
        font: {
            family: $fontNav;
            size: 2.4rem;
            weight: 600;
         }
        display: inline-block;
        cursor: pointer;
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;

         }
    }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #blogImage {
        width: auto;
        height: 100%;
    }
    
    .blog-panel:after {
        content: '';
        background-color: $background;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        z-index: 100;
        display: block;
    }
    .blog-wrapper {
        margin: 7rem auto 7rem auto;  
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    
    #blogImage {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 10rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    .blog-wrapper {
        width: 90%;
        height: 90%;
        margin: 4rem auto 7rem auto;  
        padding: 2rem;
        border-radius: $radius;
    }

    .blog-heading {
        font: {
            family: $fontNav;
            size: 4.2rem;
            weight: 700;
        }
        width: calc(90% - 4rem);
        padding: 1rem 0;
        text-align: center;
        margin: 16rem auto 0 auto;
        background-color: $wrapper;
        box-shadow: $shadow;
        border-radius: $radius;
        color: $blue;
    }
    // =BLOG

    .blog-title {
        font: {
            family: $fontNav;
            size: 2.4rem;
            weight: 700;
        }
        text-align: center;
        line-height: 2.8rem;
        min-height: 4rem;
        color: $background;
        margin: 60px 0 0 0;
        padding: 1rem 3rem;
        background: $yellow;
        border-radius: $radius $radius 0 0;
    }

    .blog-segment {
        font: {
            family: $fontText;
            size: 2rem;
        }
        line-height: 2.4rem;
        color: $background;
        top: 0;
        bottom: 0;
        background: $paper;
        border-radius: 0 0 $radius $radius;
        position: relative;
        margin: 0 -1px;
        padding: 3rem 3rem 5rem 3rem;
        width: calc(100% + 2px);
        max-width: calc(100% + 2px);
        box-shadow: none;
        border: 1px solid #D4D4D5;
    }

    .blog-paragraph {
        margin-bottom: 3rem;
    }

    .blog-button {
        font: {
            family: $fontNav;
            size: 2.4rem;
            weight: 600;
         }
        display: inline-block;
        cursor: pointer;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;

         }
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {

}

@media only screen  and (min-width: 1280px) {
    #blogImage {
        background-color: $background;
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .blog-panel-show {
        margin-top: 12rem;
    }
   
    .blog-wrapper {
        width: 70%;
        height: 100%;
        margin: auto;  
        padding: 20px;
        border-radius: $radius;
    }

    .blog-heading {
        font: {
            family: $fontNav;
            size: 4rem;
            weight: 700;
        }
        width: 68%;
        background-color: $wrapper;
        box-shadow: $shadow;
        border-radius: $radius;
        padding: 1rem 0;
        margin: 12rem auto 4rem auto;
        text-align: center;
        color: $blue;
    }
    // =BLOG

    .blog-title {
        font: {
            family: $fontNav;
            size: 2.6rem;
            weight: 700;
        }
        text-align: center;
        line-height: 6rem;
        height: 6rem;
        color: $background;
        margin: 60px 0 0 0;
        padding: 0 0 0 3rem;
        background: $yellow;
        border-radius: $radius $radius 0 0;
    }

    .blog-segment {
        font: {
            family: $fontText;
            size: 1.8rem;
        }
        line-height: 2.2rem;
        color: $background;
        top: 0;
        bottom: 0;
        background: $paper;
        border-radius: 0 0 $radius $radius;
        position: relative;
        margin: 0 -1px;
        padding: 3rem 3rem 5rem 3rem;
        width: calc(100% + 2px);
        max-width: calc(100% + 2px);
        box-shadow: none;
        border: 1px solid #D4D4D5;
    }

    .blog-paragraph {
        margin-bottom: 5rem;
    }

    .blog-button {
        display: inline-block;
        font: {
            family: $fontNav;
            size: 2rem; 
            weight: 600;
         }
        width: 30%;
        margin-right: 35%;
        margin-left: 35%;
        padding: 1rem 3rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;

         }
    }
}