@import "variables";
@import "mixins";

#canvasImage {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: -100;
    display: block;
}

.canvas-heading {
    font: {
        family: $playfair;
        size: 3.8rem;
    }
    color: $yellow;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}