@import "variables";
@import "mixins";

@media only screen and (max-width: 767px) {
    #contact-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #contact-panel:after {
        content: '';
        display: none;
    }
    
    #contact-panel {
        margin: 5rem 0;
    }

    #contactImage { 
        padding: 5rem 0 5rem 0;
        position: fixed;
        width: 100vw;
        height: auto;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        min-width: 100%;
        min-height: 100vh;
        background-color: rgba(10, 10, 10, 0.7);
        margin: 8rem auto 1rem auto; 
        padding: 2rem;
        border-radius: 4px; 
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }

    .contact-title {
        margin-top: 30px;
        font-family: $sansita;
        text-align: center;
        font-size: 4.2rem;
        font-weight: 600; 
        color: $blue;
    }

    .contact-input-container {
        display: block;
    }

    .contact-input-container > .contact-input {
        max-width: 100%;
    }

    .contact-label-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }

    .contact-label {
        font: {
            family: $sansita;
            font-weight: 700;
            size: 2.4rem;
        }
        color: $yellow;
        margin: 10px 20px;
    }

    .contact-input {
        width: 100%;
        font-size: 2.4rem;
        font-family: $roboto;
        margin: 20px 0px 0px 0px;
        border-radius: 4px;
        position:relative;  
    }

    .ui.form.contact-input > textarea#description {
        width: 100%;
        resize: none;
    }

    .ui.input input, .ui.form textarea {
        transition: $animation;
        font-family: $sansita;
        font-size: 1.8rem;
    }

    .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
        border: 1px $red solid;
        background-color: rgba(244, 66, 78, .1);
        color: $fontColor;
    }

    .contact-list-error {
        font: {
            family: $roboto;
            size: 2rem;
        }
        background-color: rgba(244, 66, 78, .1);
        color: $red;

        & > li {
            list-style: none;
            padding: 5px 0;
            margin: 10px 20px;
            line-height: 2.4rem;
        }
    }

    #form-control > i.icon {
        tranistion: $animation;
    }

    .icon-error {
        color: $fontColor;
    }

     .contact-button {
        font: {
             family: $sansita;
             size: 2.6rem;
             weight: 600;
         }
        width: 100%;
        margin: 20px 0;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: 4px;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
         }
      }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #contactImage { 
        width: auto;
        height: 100%;
    }
    
    #contact-panel:after {
        content: '';
        background-color: $background;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        z-index: 100;
        display: block;
    }
    .contact-wrapper {
        margin: 7rem auto 7rem auto; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #contact-panel:before {
        content: '';
        background-color: $black;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #contact-panel {
        width: 100%;
        height: 100%;
    }

    #contactImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        width: 80vw;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.7);
        margin: 12rem auto 6rem auto;  
        padding: 20px;
        border-radius: 4px; 
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }

    .contact-title {
        font-family: $sansita;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 600; 
        color: $blue;
    }

    .contact-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact-input-container > .contact-input {
        width: 100%;
    }

    .contact-label-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .contact-label {
        font: {
            family: $sansita;
            font-weight: 700;
            size: 2rem;
        }
        color: $yellow;
        margin: 10px 20px;
    }

    .contact-input {
        width: 100%;
        font-size: 1.6rem;
        font-family: $roboto;
        margin: 20px 0px 0px 0px;
        border: none;
        border-radius: 4px;
    }

    .ui.form.contact-input > textarea#description {

        width: 100%;
        resize: none;
    }

    .ui.input input, .ui.form textarea {
        transition: $animation;
        font-family: $sansita;
        font-size: 1.6rem;
    }

    .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
        border: 1px $red solid;
        background-color: rgba(244, 66, 78, .1);
        color: $fontColor;
    }

    .contact-list-error {
        font: {
            family: $roboto;
            size: 1.6rem;
        }
        background-color: rgba(244, 66, 78, .1);
        color: $red;
        margin: 0 20px;

        & > li {
            list-style: none;
            padding: 5px 0;
            margin: 10px 20px;
            line-height: 1.4rem;
        }
    }

    #form-control > i.icon {
        tranistion: $animation;
    }

    .icon-error {
        color: $fontColor;
    }

     .contact-button {
        font: {
             family: $sansita;
             size: 2rem;
             weight: 600;
         }
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
        margin-right: 35%;
        padding: 10px;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: 4px;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
         }
      }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
    #contactImage { 
        width: auto;
        height: 100vh;
    }
    
    .contact-wrapper {
        margin: 12rem auto 32rem auto;  
    }
}

@media only screen  and (min-width: 1280px) {

    #contact-panel:before {
        content: '';
        background-color: $black;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    

    #contactImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        max-width: 1000px;
        min-height: 70vh;
        background-color: rgba(10, 10, 10, 0.7);
        margin: 5% auto 0 auto;  
        padding: 20px;
        border-radius: 4px; 
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }

    .contact-title {
        font-family: $sansita;
        text-align: center;
        font-size: 4.2rem;
        font-weight: 600; 
        color: $blue;
    }

    .contact-input-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contact-input-container > .contact-input {
        max-width: 80%;
        margin-right: 20px;
    }

    .contact-label-container {
        marign: 20px 20px 0 20px;
        display: flex;
        justify-content: space-around;
    }

    .contact-label {
        font: {
            family: $sansita;
            font-weight: 700;
            size: 2rem;
        }
        color: $yellow;
        margin: 10px 20px;
    }
    
    #textarea-label {
        margin-top: 30px;
    }

    .contact-input {
        width: 100%;
        font-size: 1.6rem;
        font-family: $roboto;
        margin: 20px 0px 0px 0px;
        border: none;
        border-radius: 4px;
    }

    .ui.form.contact-input > textarea#description {
        margin: 5px 20px 20px 20px; 
        width: 96%;
        resize: none;
    }

    .ui.input input, .ui.form textarea {
        transition: $animation;
        font-family: $sansita;
        font-size: 1.6rem;
    }

    .ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
        border: 1px $red solid;
        background-color: rgba(244, 66, 78, .1);
        color: $fontColor;
    }

    .contact-list-error {
        font: {
            family: $roboto;
            size: 1.6rem;
        }
        background-color: rgba(244, 66, 78, .1);
        color: $red;
        margin: 0 20px;

        & > li {
            list-style: none;
            padding: 5px 0;
            margin: 10px 20px;
            line-height: 1.4rem;
        }
    }

    #form-control > i.icon {
        tranistion: $animation;
    }

    .icon-error {
        color: $fontColor;
    }

     .contact-button {
        font: {
             family: $sansita;
             size: 2rem;
             weight: 600;
         }
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
        margin-right: 35%;
        padding: 10px;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: 4px;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
         }
      }
}