@import "variables";
@import "mixins";

@media only screen and (max-width: 767px) {
    #contact-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #contact-panel:after {
        content: '';
        display: none;
    }
    
    #contact-panel {
        margin: 5rem 0;
    }

    #contactImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        min-width: 100%;
        min-height: 100vh;
        background-color: $wrapper;
        margin: 8rem auto 1rem auto; 
        padding: 2rem;
        border-radius: $radius;
        box-shadow: $shadow;
    }

    .contact-title {
        margin-top: 30px;
        font-family: $fontNav;
        text-align: center;
        font-size: 4.2rem;
        font-weight: 600; 
        color: $blue;
    }

    .contact-label-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 100%;
        height: 50px;
    }

    .contact-label {
        font: {
            family: $fontNav;
            weight: 700;
            size: 2.4rem;
        }
        color: $yellow;
        margin: 10px 20px;
    }

    #contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 5rem;
        & > .contact-input-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            width: 100%;
            & > .contact-input-wrapper {
                position: relative;
                width: 100%;
                & > .contact-input {
                    color: $grey;
                    display: inline-block;
                    border-radius: $radius;
                    border: none;
                    font: {
                        family: $fontText;
                        size: 2rem;
                    }
                    height: 40px;
                    text-indent: 20%;
                    transition: $animation;
                    width: 100%;
                    &::placeholder {
                        color: $fontColor;
                        transition: $animation;
                    }
                    &:focus::placeholder {
                        color: $grey;
                    }
                    &:focus + .contact-icon {
                        fill: $grey;
                    }
                    &.contact-input-error {
                        border: 1px $red solid;
                        background-color: rgba(244, 66, 78, .1);
                        color: $fontColor;
                    }
                    &:focus.contact-input-error {
                        border: 1px lighten($red, 10%) solid;
                        background-color: rgba(244, 66, 78, .1);
                        & + .contact-icon {
                            fill: lighten($fontColor, 10%);
                        }
                        &::placeholder {
                            color: lighten($fontColor, 10%);
                        }
                    }
                }
                & > .contact-icon {
                    display: inline-block;
                    fill: $fontColor;
                    position: absolute;
                    left: 7%;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $animation;
                }
            }
            & > .contact-label-container {
                display: flex;
                justify-content: space-around;
                margin-top: 2rem;
                & > .contact-label {
                    font: {
                        family: $fontNav;
                        weight: 700;
                        size: 2.4rem;
                    }
                    color: $yellow;
                    margin: 0;
                }
            }
        }
        .contact-textarea-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 2rem 0;
            & > .contact-input-wrapper {
                width: 100%;
                & > .contact-input {
                    color: $grey;
                    border-radius: $radius;
                    border: none;
                    font: {
                        family: $fontText;
                        size: 2rem;
                    }
                    padding: 1rem;
                    transition: $animation;
                    resize: none;
                    width: 100%;
                    &::placeholder {
                        color: $fontColor;
                        transition: $animation;
                    }
                    &:focus::placeholder {
                        color: $grey;
                    }
                    &.contact-input-error {
                        border: 1px $red solid;
                        background-color: rgba(244, 66, 78, .1);
                        color: $fontColor;
                    }
                    &:focus.contact-input-error {
                        border: 1px lighten($red, 10%) solid;
                        background-color: rgba(244, 66, 78, .1);
                        &::placeholder {
                            color: lighten($fontColor, 10%);
                        }
                    }
                }
            }
            & > .contact-label-container {
                display: flex;
                justify-content: space-around;
                margin: 0;
                & > .contact-label {
                    font: {
                        family: $fontNav;
                        weight: 700;
                        size: 2.4rem;
                    }
                    color: $yellow;
                    margin: 0;
                }
            }
        }
    }

    .contact-list-error {
        font: {
            family: $fontText;
            size: 2rem;
        }
        background-color: rgba(244, 66, 78, .1);
        border-radius: $radius;
        color: $red;
        height: 0;
        opacity: 0;
        transition: 0.75s;
        width: 100%;
        & > li {
            list-style: none;
            line-height: 24px;
            text-align: center;
        }
    }

    #form-control > i.icon {
        transition: $animation;
    }

    .icon-error {
        color: $fontColor;
    }

     .contact-button {
        font: {
             family: $fontNav;
             size: 2.6rem;
             weight: 600;
         }
        width: 100%;
        margin: 2rem 0;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;
         &:hover {
             color: $yellow;
             background-color: darken($blue, 30%);
         }
      }

    .contact-success {
        font: {
            family: $fontText;
            size: 2rem;
        }
        background-color: rgba(102, 126, 63, 0.6);
        border-radius: $radius;
        padding: 1rem 2rem;
        margin: 2rem 0;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #contactImage { 
        width: auto;
        height: calc(100% - 10rem);
    }
    
    #contact-panel:after {
        content: '';
        background-color: $background;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        z-index: 100;
        display: block;
    }
    
    .contact-wrapper {
        margin: 7rem auto 7rem auto; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #contact-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -100;
        display: block;
    }

    #contact-panel {
        width: 100%;
        min-height: 100%;
    }

    #contactImage {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 10rem;
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        width: 80%;
        height: 100%;
        background-color: $wrapper;
        margin: 12rem auto 1rem auto;
        padding: 2rem;
        border-radius: $radius;
        box-shadow: $shadow;
    }

    #contact-form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .contact-title {
        font-family: $fontNav;
        text-align: center;
        font-size: 4.2rem;
        font-weight: 600;
        color: $blue;
    }

    .contact-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact-input-container > .contact-input-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        & > .contact-input {
            color: $grey;
            border-radius: $radius;
            border: none;
            font: {
                family: $fontText;
                size: 1.6rem;
            }
            height: 40px;
            text-indent: 10%;
            transition: $animation;
            width: 75%;
            &::placeholder {
                color: $fontColor;
                transition: $animation;
            }
            &:focus::placeholder {
                color: $grey;
            }
            &:focus + .contact-icon {
                fill: $grey;
            }
            &.contact-input-error {
                border: 1px $red solid;
                background-color: rgba(244, 66, 78, .1);
                color: $fontColor;
            }
            &:focus.contact-input-error {
                border: 1px lighten($red, 10%) solid;
                background-color: rgba(244, 66, 78, .1);
                & + .contact-icon {
                    fill: lighten($fontColor, 10%);
                }
                &::placeholder {
                    color: lighten($fontColor, 10%);
                }
            }
        }
        & > .contact-icon {
            display: inline-block;
            fill: $fontColor;
            position: absolute;
            left: 15%;
            top: 50%;
            transform: translateY(-50%);
            transition: $animation;
        }
    }

    .contact-textarea-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        width: 100%;
        & > .contact-input-wrapper {
            width: 75%;
            & > .contact-input {
                color: $grey;
                border-radius: $radius;
                border: none;
                font: {
                    family: $fontText;
                    size: 1.6rem;
                }
                padding: 1rem;
                margin-top: 2rem;
                text-indent: 2%;
                transition: $animation;
                resize: none;
                width: 100%;
                &::placeholder {
                    color: $fontColor;
                    transition: $animation;
                }
                &:focus::placeholder {
                    color: $grey;
                }
                &.contact-input-error {
                    border: 1px $red solid;
                    background-color: rgba(244, 66, 78, .1);
                    color: $fontColor;
                }
                &:focus.contact-input-error {
                    border: 1px lighten($red, 10%) solid;
                    background-color: rgba(244, 66, 78, .1);
                    &::placeholder {
                        color: lighten($fontColor, 10%);
                    }
                }
            }
        }
        & > .contact-label-container {
            display: flex;
            justify-content: space-around;
            margin: 0;
        }
    }

    .contact-label-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .contact-label {
        font: {
            family: $fontNav;
            weight: 700;
            size: 2rem;
        }
        color: $yellow;
        margin: 1rem 2rem;
    }


    .contact-list-error {
        font: {
            family: $fontText;
            size: 1.6rem;
        }
        background-color: rgba(244, 66, 78, .1);
        border-radius: $radius;
        color: $red;
        height: 0;
        opacity: 0;
        transition: 1s;
        width: 75%;

        & > li {
            list-style: none;
            line-height: 14px;
            text-align: center;
        }
    }

     .contact-button {
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 600;
         }
        width: 75%;
        margin-top: 10px;
        margin-left: 12.5%;
        margin-right: 12.5%;
        padding: 10px;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
         }
      }

    .contact-success {
        font: {
            family: $fontText;
            size: 2rem;
        }
        background-color: rgba(102, 126, 63, 0.6);
        border-radius: $radius;
        padding: 1rem 2rem;
        margin: 2rem 0;
        text-align: center;
        width: 75%;
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
    #contactImage {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 10rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    .contact-wrapper {
        margin: 12rem auto 1rem auto;
    }
}

@media only screen and (min-width: 1280px) {

    #contact-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #contactImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .contact-wrapper {
        max-width: 80%;
        height: auto;
        background-color: $wrapper;
        margin: 8rem auto 1rem auto;
        padding: 2rem;
        border-radius: $radius;
        box-shadow: $shadow;
        & > .contact-title {
                font-family: $fontNav;
                text-align: center;
                font-size: 4.2rem;
                font-weight: 700;
                color: $blue;
        }
    }
    
    #contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 5rem;
        & > .contact-input-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            width: 90%;
            & > .contact-input-wrapper {
                position: relative;
                max-width: 20%;
                & > .contact-input {
                    color: $grey;
                    display: inline-block;
                    border-radius: $radius;
                    border: none;
                    font: {
                        family: $fontText;
                        size: 1.6rem;
                    }
                    height: 40px;
                    text-indent: 20%;
                    transition: $animation;
                    width: 100%;
                    &::placeholder {
                        color: $fontColor;
                        transition: $animation;
                    }
                    &:focus::placeholder {
                        color: $grey;
                    }
                    &:focus + .contact-icon {
                        fill: $grey;
                    }
                    &.contact-input-error {
                        border: 1px $red solid;
                        background-color: rgba(244, 66, 78, .1);
                        color: $fontColor;
                    }
                    &:focus.contact-input-error {
                        border: 1px lighten($red, 10%) solid;
                        background-color: rgba(244, 66, 78, .1);
                        & + .contact-icon {
                            fill: lighten($fontColor, 10%);
                        }
                        &::placeholder {
                            color: lighten($fontColor, 10%);
                        }
                    }
                }
                & > .contact-icon {
                    display: inline-block;
                    fill: $fontColor;
                    position: absolute;
                    left: 7%;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $animation;
                }
            }
            & > .contact-label-container {
            display: flex;
            justify-content: space-around;
            margin: 0;
            & > .contact-label {
                font: {
                    family: $fontNav;
                    weight: 700;
                    size: 1.6rem;
                }
                color: $yellow;
                margin: 0;
                }
            }
        }
        .contact-textarea-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
            & > .contact-input-wrapper {
                width: 100%;
                & > .contact-input {
                    color: $grey;
                    border-radius: $radius;
                    border: none;
                    font: {
                        family: $fontText;
                        size: 1.6rem;
                    }
                    margin-top: 2rem;
                    padding: 1.5rem;
                    text-indent: 2%;
                    transition: $animation;
                    resize: none;
                    width: 100%;
                    &::placeholder {
                        color: $fontColor;
                        transition: $animation;
                    }
                    &:focus::placeholder {
                        color: $grey;
                    }
                    &.contact-input-error {
                        border: 1px $red solid;
                        background-color: rgba(244, 66, 78, .1);
                        color: $fontColor;
                    }
                    &:focus.contact-input-error {
                        border: 1px lighten($red, 10%) solid;
                        background-color: rgba(244, 66, 78, .1);
                        &::placeholder {
                            color: lighten($fontColor, 10%);
                        }
                    }
                }
            }
            & > .contact-label-container {
                display: flex;
                justify-content: space-around;
                margin: 0;
                & > .contact-label {
                    font: {
                        family: $fontNav;
                        weight: 700;
                        size: 1.6rem;
                    }
                    color: $yellow;
                    margin: 0;
                }
            }
        }
    }

    .contact-list-error {
        font: {
            family: $fontText;
            size: 1.6rem;
        }
        background-color: rgba(244, 66, 78, .1);
        border-radius: $radius;
        color: $red;
        height: 0;
        opacity: 0;
        transition: 1s;
        min-width: 40%;
        & > li {
            list-style: none;
            line-height: 14px;
            text-align: center;
        }
    }

     .contact-button {
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 700;
         }
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
        margin-right: 35%;
        padding: 10px;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;
         &:hover {
             background-color: darken($blue, 30%);
         }
     }

    .contact-success {
        font: {
            family: $fontText;
            size: 1.6rem;
        }
        background-color: rgba(102, 126, 63, 0.6);
        border-radius: $radius;
        padding: 1rem 2rem;
        margin: 2rem 0;
    }
}

.errors-animation {
    animation: showErrors 0.9s forwards;
}

@keyframes showErrors {
    to {
        opacity: 1;
    }
}