@import "variables";
@import "mixins";

#contact-panel:before {
    content: '';
    background-color: $black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: -100;
    display: block;
}

#contactImage { 
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: -100;
    display: block;
}

.contact-wrapper {
  width: 1000px;
  min-height: 70vh;
  background-color: rgba(10, 10, 10, 0.7);
  margin: 30px auto 20px auto;  
  padding: 20px;
  border-radius: 4px; 
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.contact-title {
    font-family: $sansita;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600; 
    color: $blue;
}

.contact-input-container {
    display: flex;
    justify-content: space-around;
}

.contact-input-container > .contact-input {
    max-width: 33%;
}

.contact-label-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.contact-label {
    font: {
        family: $sansita;
        font-weight: 700;
        size: 2rem;
    }
    color: $yellow;
    margin: 10px 20px;
}

.contact-input {
    width: 100%;
    font-size: 1.6rem;
    font-family: $roboto;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 4px;
    position:relative;  
}

.ui.form.contact-input > textarea#description {
    margin: 5px 20px 20px 20px; 
    width: 96%;
    resize: none;
}

.ui.input input, .ui.form textarea {
    transition: $animation;
    font-family: $sansita;
    font-size: 1.6rem;
}

.ui.input input.contact-input-error, .ui.form textarea.contact-input-error {
    border: 1px $red solid;
    background-color: rgba(244, 66, 78, .1);
    color: $fontColor;
}

.contact-list-error {
    font: {
        family: $roboto;
        size: 1.6rem;
    }
    background-color: rgba(244, 66, 78, .1);
    color: $red;
    margin: 0 20px;
    
    & > li {
        list-style: none;
        padding: 5px 0;
        margin: 10px 20px;
        line-height: 1.4rem;
    }
}

#form-control > i.icon {
    tranistion: $animation;
}

.icon-error {
    color: $fontColor;
}

 .contact-button {
    font: {
         family: $sansita;
         size: 2rem;
         weight: 600;
     }
    width: 30%;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    text-align: center;
    background-color: darken($blue, 15%);
    color: $yellow;
    border: none; 
    border-radius: 4px;
    transition: $animation;
     
     &:hover {
         background-color: darken($blue, 30%);
     }
  }

