@import "variables";
@import "mixins";

@media only screen and (max-width: 767px) {
    #project-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #project-panel:after {
        content: '';
        display: none;
    }
    
    #projectImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        background-color: $wrapper;
        margin: 8rem auto 1rem auto; 
        padding: 2rem;
        border-radius: $radius;
        box-shadow: $shadow;
        & > .project-heading {
            font: {
                family: $fontNav;
                size: 3rem;
                weight: 700;
            }
            color: $blue;
            text-align: center;
            padding-top: 1rem;
            margin-bottom: 4rem;
        }
        & > .project-subheading {
            font: {
                family: $fontNav;
                size: 2rem;
            }
            width: 90%;
            color: $yellow;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    #projectImage {
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    .project-title {
        font: {
            family: $fontText;
            size: 3rem;
        }
        padding: 2rem 0;
        width: 90%;
        color: $yellow;
        text-align: center;
        line-height: 3.2rem;
        margin: auto;
        transition: $animation;
    }
    
    .project-container-example {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 5rem;
        
        .project-paragraph {
            width: 100%;
            font: {
                 family: $fontText;
                 size: 2rem;
             }
            text-align: center;
            line-height: 2.4rem;
            color: $paper;
            margin: 1rem 0;
        }
        
        .project-container-image {
            min-width: 100%;
            width: 100%;
            margin: 5rem 0 0 0;
            & > .project-image {
                width: 100%;
                transition: $animation;
                border: 3px $yellow solid;
                border-radius: $radius;
            }
        }
    }
    
    .project-wrapper-technology {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 5rem 0;
        justify-content: space-around;
    }
    
    .project-container-technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .project-image-technology {
            width: auto;
            height: 8rem;
            margin: 1rem;
            }
        & > .project-name-technology {
            font: {
                family: $fontText;
                size: 2rem;
            }
            text-transform: uppercase;
            color: $yellow;
            }   
    }
     .project-button {
        display: inline-block;
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 700;
         }
        width: 90%;
        margin: 5rem 5%;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;
         }
      }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #projectImage {
        width: auto;
        height: calc(100% - 5rem);
    }

    #project-panel:after {
        content: '';
        background-color: $background;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        z-index: 100;
        display: block;
    }
    
    .project-wrapper {
        margin: 7rem auto 7rem auto; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
       .project-container-example {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
        
        .project-paragraph {
            width: 100%;
            justify-content: center;
            font: {
                 family: $fontText;
                 size: 2rem;
             }
            text-align: center;
            line-height: 2.4rem;
            color: $paper;
            margin: 1rem 0 0 0;
        }
        
        .project-container-image {
            width: 100%;
            margin: 3rem 0 0 0;
            & > .project-image {
                position: relative;
                width: 100%;
                transition: $animation;
                border: 3px $yellow solid;
                border-radius: $radius;
            }
            & > .project-image:before {
                content: '';
                clear: both;
            }
        }
    }
     .project-button {
         display: inline-block;
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 700;
         }
        width: 100%;
        margin: 5rem 0;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;
         }
      }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #project-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #project-panel {
        margin: 12rem 0 2rem 0;
    }

    #projectImage { 
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 10rem;
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.7);
        margin: 12rem auto 1rem auto;
        border-radius: $radius;
        box-shadow: $shadow;
        & > .project-heading {
            font: {
                family: $fontNav;
                size: 4.2rem;
            }
            color: $blue;
            text-align: center;
            padding-top: 2rem;
        }
        & > .project-subheading {
            font: {
                family: $fontNav;
                size: 2rem;
            }
            width: 90%;
            color: $yellow;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    
    .project-title {
        font: {
            family: $fontText;
            size: 3rem;
        }
        width: 100%;
        color: $yellow;
        text-align: center;
        line-height: 3.2rem;
        margin: auto;
        transition: $animation;
    }
    
    .project-container-example {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 5rem;
        
        .project-paragraph {
            width: 50%;
            font: {
                 family: $fontText;
                 size: 2rem;
             }
            line-height: 2.4rem;
            color: $paper;
        }
        
        .project-container-image {
            width: 40%;
            & > .project-image {
                position: relative;
                float: right;
                width: 100%;
                transition: $animation;
                border: 3px $yellow solid;
                border-radius: $radius;
            }
            & > .project-image:before {
                content: '';
                clear: both;
            }
        }
    }
    
    .project-wrapper-technology {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem auto;
        justify-content: space-around;
    }
    
    .project-container-technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .project-image-technology {
            width: auto;
            height: 8rem;
            margin: 1rem;
            }
        & > .project-name-technology {
            font: {
                family: $fontNav;
                size: 2rem;
            }
            text-transform: uppercase;
            color: $yellow;
            }   
    }
     .project-button {
        display: inline-block;
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 600;
         }
        width: 50%;
        margin: 5rem 25% 3rem;
        padding: 1.5rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;
         }
      }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px){
    .project-wrapper {
        margin: 12rem auto 12rem auto;  
    }
    .project-container-example {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 5rem;
        
        .project-paragraph {
            width: 100%;
            font: {
                 family: $fontText;
                 size: 2rem;
             }
            text-align: center;
            line-height: 2.4rem;
            color: $paper;
            margin: 0;
        }
        
        .project-container-image {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 3rem 0 0 0;
            & > .project-image {
                position: relative;
                width: 90%;
                height: 90%;
                transition: $animation;
                border: 3px $yellow solid;
                border-radius: $radius;
            }
        }
    }
}

@media only screen  and (min-width: 1280px) {
    #project-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    #projectImage { 
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5rem; 
        bottom: 0;
        z-index: -100;
        display: block;
    }

    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: $wrapper;
        margin: 8rem auto 1rem auto;
        border-radius: $radius;
        box-shadow: $shadow;
        
        & > .project-heading {
            font: {
                family: $fontNav;
                size: 4.2rem;
                weight: 700;
            }
            color: $blue;
            text-align: center;
            padding-top: 2rem;
        }
        & > .project-subheading {
            font: {
                family: $fontNav;
                size: 2rem;
            }
            width: 80%;
            color: $yellow;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    
    .project-title {
        font: {
            family: $fontText;
            size: 3.2rem;
        }
        width: 100%;
        padding: 2rem 0;
        color: $yellow;
        text-align: center;
        line-height: 3.6rem;
        transition: $animation;
    }
    
    .project-container-example {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        width: 90%;
        margin-top: 2rem;
        
        .project-paragraph {
            min-width: 50%;
            width: 100%;
            font: {
                 family: $fontText;
                 size: 2rem;
             }
            line-height: 2.4rem;
            color: $paper;
            margin: 0 3rem 0 0;
        }
        
        .project-container-image {
            min-width: 50%;
            width: 100%;
            margin: 0 4rem 0 0;
            & > .project-image {
                position: relative;
                float: right;
                width: 60%;
                transition: $animation;
                border: 3px $yellow solid;
                border-radius: $radius;
                margin-right: 8rem;
            }
            & > .project-image:hover {
                width: 80%;
                border: 2px $yellow solid;
            }
            & > .project-image:before {
                content: '';
                clear: both;
            }
        }
    }
    
    .project-wrapper-technology {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 0;
        justify-content: space-around;
    }
    
    .project-container-technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .project-image-technology {
            width: auto;
            height: 8rem;
            margin: 1rem;
            }
        & > .project-name-technology {
            font: {
                family: $fontNav;
                size: 2rem;
            }
            text-transform: uppercase;
            color: $yellow;
            margin: 1rem;
            }   
    }
     .project-button {
         display: inline-block;
        font: {
             family: $fontNav;
             size: 2rem;
             weight: 700;
         }
        width: 30%;
        margin: 5rem 35% 3rem;
        padding: 1rem;
        text-align: center;
        background-color: darken($blue, 15%);
        color: $yellow;
        border: none; 
        border-radius: $radius;
        transition: $animation;

         &:hover {
             background-color: darken($blue, 30%);
             color: $yellow;
         }
      }
}