// Variables
@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background;
    color: $fontColor;
    font-smoothing: antialiased;
    font-size: 1.6rem;
}

img, embed, object, video {
    max-width: 100%;
}

.page-container {
    padding-top: 40px;
}

// =NAVIGATION

.nav-text {
    font-family: $sansita;
    letter-spacing: 1px;
    color: $yellow;
    font-size: 1.6rem;
}

.ui.menu {
    font-size: 1.6rem;
    fill: $yellow;
}

.ui.inverted.menu {
    background: $background;
}

.ui.inverted.menu .active.item {
    background: lighten($background, 10%);
}

.nav-bar {
    font: {
        family: $sansita;
        size: 1.6rem;
        weight: 400;
    }
    background: $paper;
    border: 0 solid transparent;
    letter-spacing: 1px;
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
    min-height: 3em;
    fill: $yellow;
}

.nav-bar:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}