// Variables
@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $fontColor;
    font-smoothing: antialiased;
    font-size: 1.6rem;
    background: $background;
}

img, embed, object, video {
    max-width: 100%;
}

li {
    list-style-position: inside;
}

// =NAVIGATION

@media only screen and (max-width: 767px) {
    .navbar.open {
        left: 0;
        z-index: 200;
    }
    .navbar {
        display: flex;
        position: fixed;
        top: 0;
        left: -800px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: $background;
        border: 0 solid transparent;
        letter-spacing: 1px;
        z-index: 101;
        padding-top: 50px;
        height: 100vh;
        width: 100%;
        transition: $animation;

        & > .navlabel {
            display: flex;
            background: $background;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 12.5%;
            line-height: 12.5%;
            text-align: center;
            min-height: 20px;
            border-bottom: 1px solid $yellow;
            z-index: 200;
        }

        & > .navlabel:first-child {
            border-top: 1px solid $yellow;
        }

        .navlabel:hover {
            background: lighten($background, 10%);
        }


        .navtext {
            font: {
                family: $sansita;
                size: 2rem;
            }
            letter-spacing: 1px;
            color: $yellow;
            user-select: none;
            transition: $animation;
            z-index: 200;
        }

        .navicon {
            display: none;
        }
    }

    .hamburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        background: $background;
        cursor: pointer;
        margin: 0 auto;
        z-index: 2300;

        & > .hamburger-panel {
            background-color: $yellow;
            width: 3rem;
            height: .6rem;
            margin-bottom: 0.6rem;
            transition: $animation;
        }

        &.open {
            .hamburger-1 {
                transform: translateY(1.2rem) rotate(45deg);
            }

            .hamburger-2 {
                opacity: 0;
            }

            .hamburger-3 {
                transform: translateY(-1.2rem) rotate(-45deg);
            }
        }
    }
    .hamburger::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: $background;
        z-index: -100;
    }
        // =pagination
    .client-pagination-wrapper {
        margin: 3rem auto;
    }
    
    .client-pagination {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .client-number {
        font: {
            family: $playfair;
            size: 3rem;
            weight: 600;
        }
        line-height: 3rem;
        margin: 1.5rem;
        color: $yellow;
        background: $background;
        padding: 2rem;
        border-radius: 4px;
    }

    .client-number:hover {
        color: $paper;
        background: darken($blue, 20%);
        padding: 2rem;
        border-radius: 4px;
        transition: $animation;
    }

    .client-number.active {
        color: $yellow;
        background: darken($blue, 20%);
    }

    .client-number.active:hover {
        color: $yellow;
        background: darken($blue, 20%);
    }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    // =pagonation
    .client-pagination-wrapper {
        margin: 0 auto 10rem auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: $background;
        border: 0 solid transparent;
        letter-spacing: 1px;
        z-index: 101;
        margin: 0;
        min-height: 50px;
        width: 100vw;
        border-bottom: 1px solid $yellow;
        transition: $animation;
    }

    .navlabel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin: auto;
        transition: $animation;
        min-height: 50px;
    }

    .navlabel:first-child {
        margin-left: 8%;
    }

    .navlabel:last-child {
        margin-right: 8%;
    }

    .navlabel:hover {
        background: lighten($background, 10%);
    }

    .navtext {
        font: {
            family: $sansita;
            size: 1.6rem;
        }
        letter-spacing: 1px;
        color: $yellow;
        user-select: none;
        transition: $animation;
        line-height: 100%;
    }

    .navicon {
        fill: $blue;
    }
    
    // =pagination
    .client-pagination-wrapper {
        margin: 0 auto 10rem auto;
    }
    
    .client-pagination {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .client-number {
        font: {
            family: $playfair;
            size: 3rem;
            weight: 600;
        }
        line-height: 3rem;
        margin: 1.5rem;
        color: $yellow;
        background: $background;
        padding: 2rem;
        border-radius: 4px;
    }

    .client-number:hover {
        color: $paper;
        background: darken($blue, 20%);
        padding: 2rem;
        border-radius: 4px;
        transition: $animation;
    }

    .client-number.active {
        color: $yellow;
        background: darken($blue, 20%);
    }

    .client-number.active:hover {
        color: $yellow;
        background: darken($blue, 20%);
    }
}

@media only screen  and (min-width: 1280px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background: $background;
        border: 0 solid transparent;
        letter-spacing: 1px;
        z-index: 101;
        margin: 0;
        min-height: 50px;
        width: 100%;
        border-bottom: 1px solid $yellow;
        transition: $animation;
    }

    .navlabel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        margin: auto;
        transition: $animation;
        height: 50px;
    }

    .navlabel:first-child {
        margin-left: 8%;
    }

    .navlabel:last-child {
        margin-right: 8%;
    }

    .navlabel:hover {
        background: lighten($background, 10%);
    }

    .navtext {
        font: {
            family: $sansita;
            size: 1.6rem;
        }
        letter-spacing: 1px;
        color: $yellow;
        user-select: none;
        transition: $animation;
        line-height: 100%;
    }

    .navicon {
        fill: $blue;
    }
    
    // =pagination
    .client-pagination {
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .client-number {
        font: {
            family: $playfair;
            size: 2.4rem;
            weight: 600;
        }
        line-height: 2.4rem;
        margin: 0 5px;
        color: $yellow;
        background: $background;
        padding: 15px;
        border-radius: 4px;
    }

    .client-number:hover {
        color: $paper;
        background: darken($blue, 20%);
        padding: 15px;
        border-radius: 4px;
        transition: $animation;
    }

    .client-number.active {
        color: $yellow;
        background: darken($blue, 20%);
    }

    .client-number.active:hover {
        color: $yellow;
        background: darken($blue, 20%);
    }
}