@import "variables";
@import "mixins";

.welcome-bold {
    font-weight: 700;
}

.welcome-blue {
    color: $blue;
} 

@media only screen and (max-width: 767px) {
    #welcome-panel:before {
        content: '';
        background-color: $background;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        z-index: -100;
        display: block;
    }
    
    #welcome-panel {
        margin: 5rem 0 0 0;
    } 
    // =HEADER
    header {
        width: 100%;
        height: 100vh;
        position: relative;
    
        #headerImage {
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        .chevron.circle.down.icon {
                position: absolute;
                font-size: 4rem;
                color: $blue;
                cursor: pointer;
                bottom: 15vh;
                left: 50%;
                transition: $animation;
                transform: translateX(-50%);
                &:hover {
                    color: $yellow;
                    font-size: 4rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: $shadow;
                margin: 5rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 2.4rem;
                }
                color: $yellow;
                width: 49%;
                height: 30%;
                line-height: 3rem;
                margin-top: 3rem;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: $radius; 
                padding: 1rem;
            }

    }
    // =NEWSPAPER
    .welcome-newspaper {
        font: {
            family: $times;
            size: 1.4rem;
        }
        padding-top: 5rem;
        min-height: 100vh;
        text-align: center;
        background-color: $paper;
        color: $grey;
        position: relative;

        .chevron.circle.down.icon {
            position: absolute;
            font-size: 4rem;
            color: $grey;
            cursor: pointer;
            bottom: 0;
            left: 50%;
            transition: $animation;
            transform: translateX(-50%);
            &:hover {
                color: $background;
                font-size: 4rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p {
            margin-top: 0;
            margin-bottom: 2rem;
            hyphens: auto;
            text-align: justify;
        }

        .newspaper-huge-heading {
            font: {
                family: $playfair;
                size: 7rem;
                weight: 700;        
            }
            text-transform: uppercase;
            display: inline-block;
            line-height: 7.5rem;
            margin-bottom: 5rem;
        }

        .newspaper-subhead {
            text-transform: uppercase;
            border-bottom: 2px solid $grey;
            border-top: 2px solid $grey;
            padding: 7%;
            font-size: 1.6rem;
        }

        .newspaper-main {
            font: {
                family: $playfair;
                size: 2rem;
                weight: 700;
            }
            padding: 2rem 1rem 1rem 1rem;
            display: inline-block;
            width: 90%;
            border-bottom: 2px solid $grey;
            border-left: 2px solid $grey;
            border-right: 2px solid $grey;
            text-align: justify;
        }

        .collumns {
            font-size: 0;
            line-height: 0;
            word-spacing: -.31em;
            display: inline-block;
            margin: 0 2% 0 2%;
        }

        .collumn {
            font-size: 2rem;
            line-height: 2.4rem;
            display: inline-block;
            vertical-align: top;
            transition: $animation;
            width: 90%;
            margin: 2px 0;
        }

        .collumn + .collumn { 
            border-left: none;
            border-bottom: 1px solid $grey;
        }
        
        .collumn:last-of-type {
            padding-bottom: 12rem;
            border-bottom: none;
        }

        .newspaper-svg {
            fill: $grey;
            width: 40%;
            height: auto;
            margin: 1rem 0;
            padding: 1rem 0;
        }
        
        #time-svg {
            margin: 1rem 0;
            padding: 1rem 0;
        }

        .head {
            position: relative;
            text-align: center;
        }

        .collumn .headline {
            text-align: center;
            line-height: normal;
            font-family: $playfair;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column1, .collumn .headline.column4 {
            font-weight: 400;
            font-style: italic;
            font-size: 4rem;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn1 {
            font-weight: bold;
            font-size: 3rem;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn5 {
            font-weight: bold;
            font-size: 3rem;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn1:before, .collumn .headline.subcolumn5:before {
            border-top: 1px solid $grey;
            content: '';
            width: 90%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn1:after {
            border-bottom: 1px solid $grey;
            content: ''; 
            width: 90%;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn5:after {
            content: ''; 
            width: 90%;
            height: 1rem;
            display: block;
            margin: 0 auto;
            border: none;
        }
   
        .collumn .headline.column2 {
            font-weight: 400;
            font-size: 4rem;
            text-transform: uppercase;
            font-style: italic;
            padding: 2rem 0;
            border-top: 1px solid $grey;
        }

        .collumn .headline.subcolumn2, .collumn .headline.subcolumn4 {
            font-weight: 400;
            font-size: 3rem;
            padding: 2rem 0;
        }
        .collumn .headline.subcolumn2:before, .collumn .headline.subcolumn4:before {
            border-top: 1px solid $grey;
            content: '';
            width: 90%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn2:after, .collumn .headline.subcolumn4:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 90%;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column3, .collumn .headline.column5 {
            font-weight: 700;
            font-size: 5rem;
            text-transform: uppercase;
            padding: 2rem 0;
        }
        .collumn .headline.subcolumn3 {
            font-weight: 400;
            font-style: italic;
            font-size: 3rem;
            padding: 2rem 0;
        }    
        .collumn .headline.subcolumn3:before {
            border-top: 1px solid $grey;
            content: '';
            width: 90%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn3:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 90%;
            height: 1.3rem;
            display: block;
            margin: 0 auto;
        }
    }
    // =CHARTS
    .welcome-charts {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        min-height: 100vh;
        background-color: $background;
        position: relative;
        color: $fontColor;
        & > .chevron.circle.down.icon {
            position: absolute;
            font-size: 4rem;
            color: $paper;
            cursor: pointer;
            bottom: 1%s;
            left: 50%;
            transform: translateX(-50%);
            transition: $animation;
            &:hover {
                color: $yellow;
                font-size: 4rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        & > .charts-huge-heading {
            font: {
                family: $amatic;
                size: 8rem;
                weight: 700;
            }
            text-align: center;
            margin: 5rem auto 1rem auto;
        }
        & > .charts-subhuge-heading {
            font: {
                family: $sansita;
                size: 2rem;
            }
            text-align: justify;
            align-self: center;
            width: 90%;
            & > .charts-underline {
                border-bottom: 1px solid $fontColor;
            }
            & > .charts-italic {
                font-style: italic;
            }
        }
        & > .charts-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .charts-row {
                display: flex;  
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                & > .charts-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 3rem;
                    visibility: hidden;
                    & > .charts-title {
                        font: {
                            family: $amatic;
                            size: 6rem;
                        }
                    }
                    & > .charts-paragraph {
                        font: {
                            size: 2rem;
                        }
                        width: 90%;
                        text-align: justify;
                        hyphens: auto;
                    }
                    & > .charts-svg {
                        width: 40%;
                        height: auto;
                        fill: $paper;
                        margin: 3rem 0;
                    }
                }
            }
        }
    }
    // =HISTORY SECTION
    .welcome-history {
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        min-height: 100vh;
        background-color: $yellow;
        position: relative;
        color: $background;
            & > .chevron.circle.up.icon {
                position: absolute;
                font-size: 4rem;
                color: $background;
                cursor: pointer;
                bottom: 1%;
                left: 50%;
                transform: translateX(-50%);
                transition: $animation;
                &:hover {
                    color: $blue;
                    font-size: 4rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        & > .history-huge-heading {
            text-align: center;
            font: {
                family: $amatic;
                size: 6rem;
                weight: 700;
            }
            margin: 5rem auto 1rem auto;
        }
        & > .history-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .history-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                & > .history-column {
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 5rem;
                    & > .history-date {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        & > .history-year {
                            font: {
                                family: $sansita;
                                size: 4rem;
                            }
                            margin: 1rem;
                            padding: 0;
                        }
                        & > .history-month {
                            font: {
                                family: $amatic;
                                size: 3.6rem;
                                weight: 700;
                            }
                            color: $background;
                            margin: 1rem;
                            padding: 0;
                        }
                    }
                    & > .history-paragraph {
                        font: {
                            family: $roboto;
                            size: 2rem;
                        }
                        color: $yellow;
                        width: 90%;
                        text-align: center;
                        
                        background-color: rgba(10, 10, 10, 0.7); 
                        box-shadow: $shadow;
                        border-radius: $radius; 
                        padding: 4rem 2rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #headerImage {
        position: relative;
        width: auto;
        height: 50vh;
    }   
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        
        & > .chevron.circle.down.icon {
            top: 75%;
            font-size: 6rem;
            left: 40%;
        }
        & > .chevron.circle.down.icon:hover {
            font-size: 6rem;
            left: 40%;
        }
        & > .welcome-header-container {
            width: 100%;
            display: flex;
            justify-content: space-between; 
            
            & > .welcome-header-paragraph {
                margin: 1rem 0 0 0;
                width: 49%;
                min-height: 200px;
                line-height: 2.6rem;
            }
        }
    }
    .welcome-newspaper {
        .chevron.circle.down.icon {
            bottom: 1%;
            font-size: 6rem;
            left: 50%;
            &:hover {
                font-size: 6rem;
                left: 50%;
            }
        }
    }
    .welcome-charts {
        .chevron.circle.down.icon {
            bottom: 1%;
            font-size: 6rem;
            left: 50%;
            &:hover {
                font-size: 6rem;
                left: 50%;
            }
        }
    }
    .welcome-history {   
        & > .chevron.circle.up.icon {
            bottom: 1%;
            font-size: 6rem;
            left: 50%;
            &:hover {
                font-size: 6rem;
                left: 50%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    // =HEADER
    header {
        width: 100vw;
        height: calc(100vh - 12rem);
        position: relative;
    
        #headerImage {
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        & > .chevron.circle.down.icon {
                position: absolute;
                font-size: 5rem;
                color: $blue;
                cursor: pointer;
                top: 90%;
                left: 50%;
                transition: $animation;
                transform: translateX(-50%);
            }

           & > .chevron.circle.down.icon:hover {
                color: $yellow;
                font-size: 5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            & > .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: $shadow;
                margin: 10rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 3rem;
                }
                color: $yellow;
                width: 40%;
                height: 30%;
                line-height: 3.4rem;
                margin: 3rem 0 0 3rem;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: $radius; 
                padding: 1.5rem;
            }
    }
    // =NEWSPAPER
    .welcome-newspaper {
        font: {
            family: $times;
            size: 1.6rem;
        }
        margin-top: 10rem;
        padding-top: 10rem;
        min-height: 100vh;
        text-align: center;
        background-color: $paper;
        color: $grey;
        position: relative;

        .chevron.circle.down.icon {
            position: absolute;
            font-size: 5rem;
            color: $grey;
            cursor: pointer;
            bottom: 0;
            left: 50%;
            transition: $animation;
            transform: translateX(-50%);
            &:hover {
                color: $background;
                font-size: 5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 2rem;
            hyphens: auto;
            text-align: justify;
        }

        .newspaper-huge-heading {
            font: {
                family: $playfair;
                size: 7rem;
                weight: 700;        
            }
            text-transform: uppercase;
            display: inline-block;
            line-height: 7.5rem;
            margin-bottom: 5rem;
        }

        .newspaper-subhead {
            text-transform: uppercase;
            border-bottom: 2px solid $grey;
            border-top: 2px solid $grey;
            padding: 3rem 12.5%; 
            font-size: 1.6rem;
        }

        .newspaper-main {
            font: {
                family: $playfair;
                size: 2rem;
                weight: 700;
            }
            padding: 2rem 1rem 1rem 1rem;
            display: inline-block;
            width: 75%;
            border-bottom: 2px solid $grey;
            border-left: 2px solid $grey;
            border-right: 2px solid $grey;
            text-align: justify;
        }

        .collumns {
            width: 90%;
            font-size: 0;
            line-height: 0;
            word-spacing: -.31em;
            display: inline-block;
        }

        .collumn {
            font-size: 2rem;
            line-height: 2.4rem;
            display: inline-block;
            vertical-align: top;
            transition: $animation;
            width: 35%;
            margin: 0 2rem;
        }

        .collumn + .collumn { 
            border-left: none;
            border-bottom: 1px solid $grey;
        }
        
        .collumn:last-of-type {
            width: 75%;
            margin: 2px;
            padding-bottom: 10rem;
            border-bottom: none;
        }

        .newspaper-svg {
            fill: $grey;
            width: 40%;
            height: auto;
            margin: 1rem 0;
            padding: 1rem 0;
        }
        
        #time-svg {
            margin: 1rem 0;
            padding: 1rem 0;
        }

        .head {
            position: relative;
            text-align: center;
        }

        .collumn .headline {
            text-align: center;
            line-height: normal;
            font-family: $playfair;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column1, .collumn .headline.column4 {
            font-weight: 400;
            font-style: italic;
            font-size: 3rem;
            padding: 3rem 0;
        }

        .collumn .headline.subcolumn1 {
            font-weight: bold;
            font-size: 2rem;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn5 {
            font-weight: bold;
            font-size: 2rem;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn1:before {
            border-top: 1px solid $grey;
            content: '';
            width: 100%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn1:after {
            border-bottom: 1px solid $grey;
            content: ''; 
            width: 100%;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.column2 {
            font-weight: 400;
            font-size: 3rem;
            text-transform: uppercase;
            font-style: italic;
            padding: 2rem 0;
        }

        .collumn .headline.subcolumn2, .collumn .headline.subcolumn4 {
            font-weight: 400;
            font-size: 2rem;
            padding: 2rem 0;
        }
        .collumn .headline.subcolumn2:before, .collumn .headline.subcolumn4:before {
            border-top: 1px solid $grey;
            content: '';
            width: 100%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn2:after, .collumn .headline.subcolumn4:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 100%;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
        
        .collumn .headline.column3 {
            border-top: 1px solid $grey;
        }

        .collumn .headline.column3, .collumn .headline.column5 {
            font-weight: 700;
            font-size: 3rem;
            text-transform: uppercase;
            padding: 2rem 0;
        }
        .collumn .headline.subcolumn3 {
            font-weight: 400;
            font-style: italic;
            font-size: 2rem;
            padding: 2rem 0;
        }    
        .collumn .headline.subcolumn3:before {
            border-top: 1px solid $grey;
            content: '';
            width: 100%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn3:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 100%;
            height: 1.3rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn5:before {
            border-top: 1px solid $grey;
            content: '';
            width: 100%;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        
        .collumn .headline.subcolumn5:after {
            border-bottom: 1px solid $grey;
            content: ''; 
            width: 100%;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
    }
    // =CHARTS
    .welcome-charts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        min-height: 100vh;
        background-color: $background;
        position: relative;
        color: $fontColor;
        & > .chevron.circle.down.icon {
            position: absolute;
            font-size: 5rem;
            color: $paper;
            cursor: pointer;
            bottom: 5vh;
            left: 50%;
            transform: translateX(-50%);
            transition: $animation;
            &:hover {
                color: $yellow;
                font-size: 5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        & > .charts-huge-heading {
            font: {
                family: $amatic;
                size: 5rem;
            }
            text-align: center;
        }
        & > .charts-subhuge-heading {
            font: {
                family: $sansita;
                size: 2rem;
            }
            text-align: center;
            width: 85%;
            & > .charts-underline {
                border-bottom: 1px solid $fontColor;
            }
            & > .charts-italic {
                font-style: italic;
            }
        }
        & > .charts-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .charts-row {
                display: flex;  
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                & > .charts-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 50%;
                    margin-top: 3rem;
                    visibility: hidden;
                    & > .charts-title {
                        font: {
                            family: $amatic;
                            size: 3rem;
                        }
                    }
                    & > .charts-paragraph {
                        width: 80%;
                        hyphens: none;
                    }
                    & > .charts-svg {
                        width: 25%;
                        height: auto;
                        fill: $paper;
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
    // =HISTORY SECTION
    .welcome-history {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin-top: 10rem;
        padding-top: 10rem;
        background-color: $yellow;
        position: relative;
        color: $background;
            & > .chevron.circle.up.icon {
                position: absolute;
                font-size: 5rem;
                color: $background;
                cursor: pointer;
                bottom: 5vh;
                left: 50%;
                transform: translateX(-50%);
                transition: $animation;
                &:hover {
                    color: $blue;
                    font-size: 5rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        & > .history-huge-heading {
            text-align: center;
            font: {
                family: $amatic;
                size: 5rem;
                weight: 700;
            }
        }
            & > .history-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .history-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                & > .history-column {
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin-top: 5rem;
                    & > .history-date {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        & > .history-year {
                            font: {
                                family: $sansita;
                                size: 4rem;
                            }
                            margin: 1rem;
                            padding: 0;
                        }
                        & > .history-month {
                            font: {
                                family: $amatic;
                                size: 3.6rem;
                                weight: 700;
                            }
                            color: $background;
                            margin: 1rem;
                            padding: 0;
                        }
                    }
                    & > .history-paragraph {
                        font: {
                            family: $roboto;
                            size: 2rem;
                        }
                        line-height: 2.4rem;
                        color: $yellow;
                        width: 85%;
                        text-align: center;
                        padding: 4rem 2rem;
                        background-color: rgba(10, 10, 10, 0.7); 
                        box-shadow: $shadow;
                        border-radius: $radius;  
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
        // =HEADER
        header {
            width: 100vw;
            height: calc(100vh - 12rem);
            position: relative;
    
        #headerImage {
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        & > .chevron.circle.down.icon {
                position: absolute;
                font-size: 5rem;
                color: $blue;
                cursor: pointer;
                top: 85%;
                left: 50%;
                transition: $animation;
                transform: translateX(-50%);
            }

           & > .chevron.circle.down.icon:hover {
                color: $yellow;
                font-size: 5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            & > .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: $shadow;
                margin: 10rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 3rem;
                }
                color: $yellow;
                width: 40%;
                min-height: 20rem;
                line-height: 3.4rem;
                margin: 50% 0 0 0;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: $radius; 
                padding: 1.5rem;
            }
    }
    // =NEWSPAPER
    .welcome-newspaper {
        font: {
            family: $times;
            size: 1.6rem;
        }
        margin-top: 10rem;
        padding-top: 10rem;
        min-height: 100vh;
        text-align: center;
        background-color: $paper;
        color: $grey;
        position: relative;

        .chevron.circle.down.icon {
            position: absolute;
            font-size: 5rem;
            color: $grey;
            cursor: pointer;
            bottom: 0;
            left: 50%;
            transition: $animation;
            transform: translateX(-50%);
        }

        .chevron.circle.down.icon:hover {
            color: $background;
            font-size: 5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        p {
            margin-top: 0;
            margin-bottom: 2rem;
            hyphens: auto;
            text-align: justify;
        }

        .newspaper-subhead {
            padding: 3rem 5%; 
        }

        .newspaper-main {
            width: 90%;
        }

        .collumns {
            width: 90%;
            font-size: 0;
            line-height: 0;
            word-spacing: -.31em;
            display: inline-block;
        }

        .collumn {
            font-size: 2rem;
            line-height: 2.4rem;
            display: inline-block;
            vertical-align: top;
            transition: $animation;
            width: 43%;
            margin: 0 3%;
        }

        .collumn + .collumn { 
            border-left: none;
            border-bottom: 1px solid $grey;
        }
        
        .collumn:last-of-type {
            width: 90%;
            margin: 2px;
            padding-bottom: 10rem;
            border-bottom: none;
        }

        .newspaper-svg {
            fill: $grey;
            width: 40%;
            height: auto;
            margin: 1rem 0;
            padding: 1rem 0;
        }
        
        #time-svg {
            margin: 1rem 0;
            padding: 1rem 0;
        }
    }
}

@media only screen and (min-width: 1280px) {

    //HEADER
    #headerImage {
        width: 100%;
        height: auto;
        z-index: -100;
        display: block;
        background: {
        position: top center;
        size: 100% auto;
        repeat: no-repeat;
        } 
    }

    header {
        position: relative;
        min-height: 100vh;
        text-align: center;
        & > .chevron.circle.down.icon {
            position: absolute;
            font-size: 6rem;
            color: $blue;
            cursor: pointer;
            bottom: 15vh;
            left: 50%;
            transform: translateX(-50%);
            transition: $animation;
            &:hover {
                color: $yellow;
                font-size: 6rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        & > .welcome-header-heading {
            font: {
                family: $amatic;
                size: 8rem;
                weight: 700;
            }
            text-align: center;
            background-color: rgba(10, 10, 10, 0.4);
            box-shadow: $shadow;
            padding: 2rem;
            position: absolute;
            color: $yellow;
            min-width: 30%;
            top: 19%;
            left: 10%;
        }
        & > .welcome-header-container {
                position: absolute;
                top: 42%;
                left: 10%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
                & > .welcome-header-paragraph {
                    
                font: {
                    family: $amatic;
                    size: 3rem;
            }    
                color: $yellow;
                min-width: 20%;
                max-width: 30%;    
                padding: 2rem;
                line-height: 3.4rem;
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: $shadow;
                border-radius: $radius; 
            }
        }
    }

    // =NEWSPAPER
    .welcome-newspaper {
        font: {
            family: $times;
            size: 1.6rem;
        }
        padding-top: 7rem;
        min-height: 100vh;
        text-align: center;
        background-color: $paper;
        color: $grey;
        position: relative;

        .chevron.circle.down.icon {
            position: absolute;
            font-size: 6rem;
            color: $grey;
            cursor: pointer;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            transition: $animation;
            &:hover {
                color: $background;
                font-size: 6rem;
                left: 50%;
                transform: translateX(-50%);
            }    
        }

        p {
            margin-top: 0;
            margin-bottom: 2rem;
            hyphens: auto;
            text-align: justify;
        }

        .newspaper-huge-heading {
            font: {
                family: $playfair;
                size: 8rem;
                weight: 700;        
            }
            text-transform: uppercase;
            display: inline-block;
            line-height: 7.2rem;
            margin-bottom: 2rem;
        }

        .newspaper-subhead {
            text-transform: uppercase;
            border-bottom: 2px solid $grey;
            border-top: 2px solid $grey;
            padding: 12px 0 12px 0;
        }

        .newspaper-main {
            font: {
                family: $playfair;
                size: 1.6rem;
                weight: 700;
            }
            padding: 2rem 1rem 1rem 1rem;
            display: inline-block;
            width: 66%;
            border-bottom: 2px solid $grey;
            border-left: 2px solid $grey;
            border-right: 2px solid $grey;
            text-align: justify;
        }

        .collumns {
            font-size: 0;
            line-height: 0;
            word-spacing: -.31em;
            display: inline-block;
            margin: 0 2% 0 2%;
        }

        .collumn {
            font-size: 1.6rem;
            line-height: 2rem;
            width: 17.5%;
            display: inline-block;
            padding: 0 1% 0 1%;
            vertical-align: top;
            margin-bottom: 3rem;
            transition: $animation;
        }

        .collumn + .collumn { 
              border-left: 1px solid $grey;
        }

        .newspaper-svg {
            fill: $grey;
            width: 50%;
            height: auto;
        }
        
        #time-svg {
            margin: 1rem 0;
            padding: 2rem 0;
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
        }

        .head {
            position: relative;
            text-align: center;
        }

        .collumn .headline {
            text-align: center;
            line-height: normal;
            font-family: $playfair;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column1, .collumn .headline.column4 {
            font-weight: 400;
            font-style: italic;
            font-size: 3rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn1 {
            font-weight: bold;
            font-size: 1.2rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn5 {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn1:before, .collumn .headline.subcolumn5:before {
            border-top: 1px solid $grey;
            content: '';
            width: 20rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn1:after, .collumn .headline.subcolumn5:after {
            border-bottom: 1px solid $grey;
            content: ''; 
            width: 20rem;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.column2 {
            font-weight: 400;
            font-size: 3rem;
            text-transform: uppercase;
            font-style: italic;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn2, .collumn .headline.subcolumn4 {
            font-weight: 400;
            font-size: 1.8rem;
            padding: 1rem 0;
        }
        .collumn .headline.subcolumn2:before, .collumn .headline.subcolumn4:before {
            border-top: 1px solid $grey;
            content: '';
            width: 15rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn2:after, .collumn .headline.subcolumn4:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 15rem;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column3, .collumn .headline.column5 {
            font-weight: 700;
            font-size: 3rem;
            text-transform: uppercase;
            padding: 1rem 0;
        }
        .collumn .headline.subcolumn3 {
            font-weight: 400;
            font-style: italic;
            font-size: 2.4rem;
            padding: 1rem 0 1rem 0;
        }    
        .collumn .headline.subcolumn3:before {
            border-top: 1px solid $grey;
            content: '';
            width: 10rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn3:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 10rem;
            height: 1.3rem;
            display: block;
            margin: 0 auto;
        }
    }

    // =CHARTS
    .welcome-charts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 7rem;
        min-height: 100vh;
        background-color: $background;
        position: relative;
        color: $fontColor;
            & > .chevron.circle.down.icon {
                position: absolute;
                font-size: 6rem;
                color: $paper;
                cursor: pointer;
                bottom: 5vh;
                left: 50%;
                transform: translateX(-50%);
                transition: $animation;
                &:hover {
                    color: $yellow;
                    font-size: 6rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        & > .charts-huge-heading {
            font: {
                family: $amatic;
                size: 5rem;
            }
            text-align: center;
        }
        & > .charts-subhuge-heading {
            font: {
                family: $sansita;
                size: 2rem;
            }
            text-align: center;
            width: 85%;
            & > .charts-underline {
                border-bottom: 1px solid $fontColor;
            }
            & > .charts-italic {
                font-style: italic;
            }
        }
        & > .charts-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .charts-row {
                display: flex;  
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                & > .charts-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 50%;
                    margin-top: 3rem;
                    visibility: hidden;
                    & > .charts-title {
                        font: {
                            family: $amatic;
                            size: 3rem;
                        }
                    }
                    & > .charts-paragraph {
                        width: 70%;
                        hyphens: none;
                    }
                    & > .charts-svg {
                        width: 10%;
                        height: auto;
                        fill: $paper;
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
    // =HISTORY SECTION
    .welcome-history {
        display: flex;
        flex-direction: column;
        padding-top: 7rem;
        min-height: 100vh;
        background-color: $yellow;
        position: relative;
        color: $background;
            & > .chevron.circle.up.icon {
                position: absolute;
                font-size: 6rem;
                color: $background;
                cursor: pointer;
                bottom: 5vh;
                left: 50%;
                transform: translateX(-50%);
                transition: $animation;
                &:hover {
                    color: $blue;
                    font-size: 6rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        & > .history-huge-heading {
            text-align: center;
            font: {
                family: $amatic;
                size: 5rem;
                weight: 700;
            }
        }
        & > .history-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15rem;
            & > .history-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                & > .history-column {
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin-top: 3rem;
                    & > .history-date {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        & > .history-year {
                            font: {
                                family: $sansita;
                                size: 3.6rem;
                            }
                            margin: 1rem;
                            padding: 0;
                        }
                        & > .history-month {
                            font: {
                                family: $amatic;
                                size: 3rem;
                                weight: 700;
                            }
                            color: $background;
                            margin: 1rem;
                            padding: 0;
                        }
                    }
                    & > .history-paragraph {
                        font: {
                            family: $roboto;
                            size: 1.6rem;
                        }
                        color: $yellow;
                        width: 80%;
                        text-align: center;
                        
                        background-color: rgba(10, 10, 10, 0.7); 
                        box-shadow: $shadow;
                        border-radius: $radius; 
                        padding: 4rem 2rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}
