@import "variables";
@import "mixins";

.welcome-bold {
    font-weight: 700;
}

.welcome-blue {
    color: $blue;
} 

@media only screen and (max-width: 767px) {
    //HEADER
    header {
        width: 100%;
        height: 100vh;
        position: relative;
    
        #headerImage {
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        .chevron.circle.down.icon {
                position: absolute;
                font-size: 3rem;
                color: $blue;
                cursor: pointer;
                bottom: 15vh;
                left: 48%;
                transition: $animation;
                transform: translateX(-50%);
            }

            .chevron.circle.down.icon:hover {
                color: $yellow;
                font-size: 3rem;
                left: 48%;
                transform: translateX(-50%);
            }

            .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: 0 0 10px rgba(0,0,0,1);
                margin: 5rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 2.4rem;
                }
                color: $yellow;
                width: 49%;
                height: 30%;
                line-height: 3rem;
                margin-top: 3rem;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: 4px; 
                padding: 1rem;
            }

    }
    // NEWSPAPER
    .welcome-newspaper {
        .chevron.circle.down.icon {
            top: 600px;
        }
        .collumn{
            width: 100%;
            margin: 2px;
        }
        .collumn + .collumn {
            border-left: none;
            border-bottom: 1px solid $grey;
        }
        .collumn:last-of-type {
            width: 100%;
            margin: 2px;
            padding-bottom: 6rem;
        }
        .newspaper-huge-heading {
            max-width: 32rem;
            font-size: 6rem;
            line-height: 5.4rem;
            overflow: hidden;
        }
    }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    #headerImage {
        position: relative;
        width: auto;
        height: 50vh;
    }
    
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        
        & > .chevron.circle.down.icon {
            top: 80%;
            font-size: 6rem;
            left: 40%;
        }
        & > .chevron.circle.down.icon:hover {
            font-size: 6rem;
            left: 40%;
        }
        & > .welcome-header-container {
            width: 100%;
            display: flex;
            justify-content: space-between; 
            
            & > .welcome-header-paragraph {
                margin: 1rem 0 0 0;
                width: 49%;
                min-height: 200px;
                line-height: 2.6rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    header {
        width: 100vw;
        height: calc(100vh - 12rem);
        position: relative;
    
        #headerImage {
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        & > .chevron.circle.down.icon {
                position: absolute;
                font-size: 5rem;
                color: $blue;
                cursor: pointer;
                top: 90%;
                left: 47%;
                transition: $animation;
                transform: translateX(-50%);
            }

           & > .chevron.circle.down.icon:hover {
                color: $yellow;
                font-size: 5rem;
                left: 47%;
                transform: translateX(-50%);
            }

            & > .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: 0 0 10px rgba(0,0,0,1);
                margin: 10rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 3rem;
                }
                color: $yellow;
                width: 40%;
                height: 30%;
                line-height: 3.4rem;
                margin: 3rem 0 0 3rem;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: 4px; 
                padding: 1.5rem;
            }
    }
    .welcome-newspaper {
        margin-top: 3rem;
    }

    .collumn {
        width: 31%;
    }
    .collumn:last-of-type {
        width: 100%;
        margin: 2px;
        padding-bottom: 6rem;
    }
    .chevron.circle.down.icon {
        top: 97%;
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1279px) {
        header {
            width: 100vw;
            height: calc(100vh - 12rem);
            position: relative;
    
        #headerImage {
            position: relative;
            width: 100%;
            height: auto;
            z-index: -100;
            position: absolute;
            background: {
              position: top center;
              size: 100% auto;
              repeat: no-repeat;
            } 
        }
        & > .chevron.circle.down.icon {
                position: absolute;
                font-size: 5rem;
                color: $blue;
                cursor: pointer;
                top: 85%;
                left: 46%;
                transition: $animation;
                transform: translateX(-50%);
            }

           & > .chevron.circle.down.icon:hover {
                color: $yellow;
                font-size: 5rem;
                left: 46%;
                transform: translateX(-50%);
            }

            & > .welcome-header-heading {
                font: {
                    family: $amatic;
                    size: 6rem;
                    weight: 700;
                }
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: 0 0 10px rgba(0,0,0,1);
                margin: 10rem auto 1rem auto;
                color: $yellow;      
                text-align: center;
            }
        
            .welcome-header-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .welcome-header-paragraph {
                font: {
                    family: $amatic;
                    size: 3rem;
                }
                color: $yellow;
                width: 40%;
                min-height: 20rem;
                line-height: 3.4rem;
                margin: 50% 0 0 0;
                background-color: rgba(10, 10, 10, 0.4); 
                border-radius: 4px; 
                padding: 1.5rem;
            }
    }
}

@media only screen  and (min-width: 1280px) {

    //HEADER
    header {
        position: relative;
        min-height: 100vh;
    }

    #headerImage {
        width: 100%;
        height: auto;
        z-index: -100;
        display: block;
        background: {
        position: top center;
        size: 100% auto;
        repeat: no-repeat;
        } 
    }

    header {
        & > .chevron.circle.down.icon {
            position: absolute;
            font-size: 6rem;
            color: $blue;
            cursor: pointer;
            top: 80%;
            left: 50%;
            transition: $animation;
            transform: translateX(-50%);
        }

        & > .chevron.circle.down.icon:hover {
            color: $yellow;
            font-size: 6rem;
            left: 50%;
            transform: translateX(-50%);
        }

        & > .welcome-header-heading {
            font: {
                family: $amatic;
                size: 8rem;
                weight: 700;
            }
            text-align: center;
            background-color: rgba(10, 10, 10, 0.4);
            box-shadow: 0 0 10px rgba(0,0,0,1);
            padding: 2rem;
            position: absolute;
            color: $yellow;
            min-width: 30%;
            top: 18%;
            left: 10%;
        }
        & > .welcome-header-container {
                position: absolute;
                top: 40%;
                left: 10%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
                & > .welcome-header-paragraph {
                    
                font: {
                    family: $amatic;
                    size: 3rem;
            }    
                color: $yellow;
                min-width: 20%;
                max-width: 30%;    
                padding: 2rem;
                line-height: 3.4rem;
                background-color: rgba(10, 10, 10, 0.4);
                box-shadow: 0 0 10px rgba(0,0,0,1);
                border-radius: 4px; 
            }
        }
    }

    // =NEWSPAPER

    .welcome-newspaper {
        font: {
            family: 'Droid Serif', serif;
            size: 1.4rem;
        }
        padding-top: 60px;
        min-height: 100vh;
        text-align: center;
        background-color: $paper;
        color: $grey;
        position: relative;

        .chevron.circle.down.icon {
            position: absolute;
            font-size: 6rem;
            color: $grey;
            cursor: pointer;
            top: 80%;
            left: 50%;
            transition: $animation;
            transform: translateX(-50%);
        }

        .chevron.circle.down.icon:hover {
            color: $background;
            font-size: 6rem;
            left: 50%;
            transform: translateX(-50%);
        }

        p {
            margin-top: 0;
            margin-bottom: 2rem;
            text-align: left;
        }

        .newspaper-huge-heading {
            font: {
                family: $playfair;
                size: 8rem;
                weight: 700;        
            }
            text-transform: uppercase;
            display: inline-block;
            line-height: 7.2rem;
            margin-bottom: 2rem;
        }

        .newspaper-subhead {
            text-transform: uppercase;
            border-bottom: 2px solid $grey;
            border-top: 2px solid $grey;
            padding: 12px 0 12px 0;
        }

        .newspaper-main {
            font: {
                family: $playfair;
                size: 1.6rem;
                weight: 700;
            }
            padding: 2rem 1rem 1rem 1rem;
            display: inline-block;
            width: 50%;
            border-bottom: 2px solid $grey;
            border-left: 2px solid $grey;
            border-right: 2px solid $grey;
        }

        .collumns {
            font-size: 0;
            line-height: 0;
            word-spacing: -.31em;
            display: inline-block;
            margin: 0 2% 0 2%;
        }

        .collumn {
            font-size: 1.6rem;
            line-height: 2rem;
            width: 17.5%;
            display: inline-block;
            padding: 0 1% 0 1%;
            vertical-align: top;
            margin-bottom: 3rem;
            transition: $animation;
        }

        .collumn + .collumn { 
              border-left: 1px solid $grey;
        }

        .collumn > svg {
            fill: $grey;
            width: 50%;
            height: auto;
        }

        .head {
            position: relative;
            text-align: center;
        }

        .collumn .headline {
            text-align: center;
            line-height: normal;
            font-family: $playfair;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column1, .collumn .headline.column4 {
            font-weight: 400;
            font-style: italic;
            font-size: 3.6rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn1 {
            font-weight: bold;
            font-size: 1.2rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn5 {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn1:before, .collumn .headline.subcolumn5:before {
            border-top: 1px solid $grey;
            content: '';
            width: 10rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn1:after, .collumn .headline.subcolumn5:after {
            border-bottom: 1px solid $grey;
            content: ''; 
            width: 10rem;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.column2 {
            font-weight: 400;
            font-size: 3rem;
            text-transform: uppercase;
            font-style: italic;
            box-sizing: border-box;
            padding: 1rem 0;
        }

        .collumn .headline.subcolumn2, .collumn .headline.subcolumn4 {
            font-weight: 400;
            font-size: 1.8rem;
            box-sizing: border-box;
            padding: 1rem 0;
        }
        .collumn .headline.subcolumn2:before, .collumn .headline.subcolumn4:before {
            border-top: 1px solid $grey;
            content: '';
            width: 10rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn2:after, .collumn .headline.subcolumn4:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 10rem;
            height: 1rem;
            display: block;
            margin: 0 auto;
        }

        .collumn .headline.column3, .collumn .headline.column5 {
            font-weight: 700;
            font-size: 3rem;
            text-transform: uppercase;
            padding: 1rem 0;
        }
        .collumn .headline.subcolumn3 {
            font-weight: 400;
            font-style: italic;
            font-size: 2.4rem;
            box-sizing: border-box;
            padding: 1rem 0 1rem 0;
        }    
        .collumn .headline.subcolumn3:before {
            border-top: 1px solid $grey;
            content: '';
            width: 10rem;
            height: .7rem;
            display: block;
            margin: 0 auto;
        }
        .collumn .headline.subcolumn3:after {
            border-bottom: 1px solid $grey;
            content: '';
            width: 10rem;
            height: 1.3rem;
            display: block;
            margin: 0 auto;
        }
    }

    // =CHARTS

    .welcome-charts {
            padding-top: 60px;
            height: 1000px;
            background-color: $background;
            color: $fontColor;
        .charts-huge-heading {
            font: {
                family: $droid;
                size: 3.6rem;
            }
        }
    }
}
